﻿@using ReflectionIT.Mvc.Paging
@model PagingList<ParcelrateEntities.Models.Shipment>

@addTagHelper *, ReflectionIT.Mvc.Paging
@using ParcelrateUtilities
@inject ParcelrateComponent.Interfaces.IShipmentComponent _shipmentComponent

@{
    ViewData["Title"] = ParcelrateResources.Resources.My_Shipments;
    ViewBag.CurrentPage = "Shipments";
}

<div class="con-padding shipmant-heading">
    <div class="col-md-12">
        <h1>@ParcelrateResources.Resources.My_Shipments</h1>
        <div class="pull-right">
            <a asp-action="Index" style="margin: 13px 20px 0 0;text-decoration: none;" class="back-link pull-left"><span><img src="~/images/refresh-icon.png" alt="@ParcelrateResources.Resources.Refresh"></span> @ParcelrateResources.Resources.Refresh_Shipments</a>&nbsp;
            @if (Model != null && Model.Count > 0)
            {
                <a asp-action="DownloadFile" style="margin: 17px 20px 0 0;text-decoration: none;" class="back-link pull-left"><img src="~/images/excel-icon.png" title="@ParcelrateResources.Resources.Download_Excel"> @ParcelrateResources.Resources.Download_Shipments</a>
            }
            <a asp-action="Create" class="add-new-address"><span>+</span> @ParcelrateResources.Resources.New</a>
        </div>
    </div>
</div>

<div>
    <table class="shipment-table">
        <thead>
            <tr>
                <th>@ParcelrateResources.Resources.Carrier</th>
                <th>@ParcelrateResources.Resources.Service</th>
                <th>@ParcelrateResources.Resources.Shipment_ID</th>
                <th>@ParcelrateResources.Resources.Price</th>
                <th>@ParcelrateResources.Resources.Pickup_Date</th>
                <th>@ParcelrateResources.Resources.Booked_On</th>
                <th width="170px;">@ParcelrateResources.Resources.AWB_Number</th>
                <th width="120px;">@ParcelrateResources.Resources.Dimensions_Captured</th>
                <th>@ParcelrateResources.Resources.Status</th>
                <th width="110px;">@ParcelrateResources.Resources.Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Count > 0)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Carrier</td>
                        <td>@item.Service</td>
                        <td>@item.ShipmentId</td>
                        <td>@item.TotalPrice&nbsp;@item.PickupCountry?.Currency</td>
                        <td>@Convert.ToDateTime(item.PickUpDate).ToString(Constants.DefaultDateFormat)</td>
                        <td>@item.OrderBookedOn.ToString(Constants.DefaultDateFormat)</td>
                        <td onfocusout="hideButtons(@item.Id,'@item.Awbnumber');">
                            <div class="form-inline">
                                <input class="form-control" style="max-width:90px;height:28px;" name="fname" id="@("txtAWBNumber"+item.Id)" type="text" onfocus="showEditButtons(@item.Id);" value="@item.Awbnumber">
                                <a id="@("lnkAdd"+item.Id)" style="display:none;" href="javascript:void(0);" title="@ParcelrateResources.Resources.Ok" onmousedown="saveAWBNumber(@item.Id,'@item.Awbnumber')"><img src="~/images/ok-icon.png" alt="@ParcelrateResources.Resources.Email_Label"></a>
                                <a id="@("lnkCancel"+item.Id)" style="display:none;" href="javascript:void(0);" title="@ParcelrateResources.Resources.Cancel" onmousedown="cancelAwbNumber(@item.Id,'@item.Awbnumber')"><img src="~/images/crosscircle-icon.png" alt="@ParcelrateResources.Resources.Email_Label"></a>
                            </div>
                        </td>
                        <td>@(item.DimensionsCaptured == Constants.ManualText ? ParcelrateResources.Resources.Manually : ParcelrateResources.Resources.Bedal)</td>
                        <td>@_shipmentComponent.GetShipmentStatus(item.Status)</td>
                        <td>
                            <a href="javascript:void(0);" title="@ParcelrateResources.Resources.Email_Label" onclick="emailPDF(@item.ShipmentId)"><img src="~/images/email.png" alt="@ParcelrateResources.Resources.Email_Label"></a>
                            <a href="javascript:void(0);" title="@ParcelrateResources.Resources.View_Label" onclick="showPDF(@item.ShipmentId,false)"><img src="~/images/pdf.png" alt="@ParcelrateResources.Resources.View_Label" style="height: 18px;"></a>
                            @if (item.Provider.Name.ToLowerInvariant().Contains(Constants.LetMeShipText))
                            {
                                <a href="javascript:void(0);" title="@ParcelrateResources.Resources.Track_Shipment" onclick="trackShipment(@item.ShipmentId,'@item.Awbnumber');"><img src="~/images/dimensions.png" alt="@ParcelrateResources.Resources.Track_Shipment"></a>
                            }
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="10" style="text-align: center;font-family: 'mulilight';">@ParcelrateResources.Resources.No_Records_Found</td>
                </tr>
            }
        </tbody>
    </table>

    <nav aria-label="Shipments" class="pull-right">
        <vc:pager paging-list="@Model" />
    </nav>

    <div class="confirmation-layout" id="divEmailPopup">
        <div class="confirmation-inner-layout">
            <h3>@ParcelrateResources.Resources.Email_Label</h3>
            <div class="form-group">
                <input class="form-control" id="txtEmail" placeholder="@ParcelrateResources.Resources.Email*" />
                <span class="text-danger field-validation-error pull-left">
                    <span id="emailError"></span>
                </span>
            </div>
            <div class="pull-right" style="margin-top: 20px;">
                <button class="confirm-button active" type="button" title="@ParcelrateResources.Resources.Send" onclick="sendEmail()">@ParcelrateResources.Resources.Send</button>
            </div>
            <div class="close-btn"><a href="javascript:void(0);" title="@ParcelrateResources.Resources.Close" onclick="closeEmailPopup();"><img src="~/images/close.png" alt="@ParcelrateResources.Resources.Close"></a></div>
        </div>
    </div>

    <script id="TrackShipmentScript" type="text/x-jquery-tmpl">
        <tr>
            <td style="width:20%;">${date}</td>
            <td style="width:20%;">${time}</td>
            <td style="width:30%;">${location}</td>
            <td style="width:30%;">${event}</td>
        </tr>
    </script>
    <div class="shipment-track-layout" id="divTrackShipmentPopup">
        <div class="track-inner-layout" style="height:600px;">
            <h3>@ParcelrateResources.Resources.Shipment_Tracking_Details</h3>
            <div class="close-btn"><a href="javascript:void(0);" title="@ParcelrateResources.Resources.Close" onclick="closeTrackShipmentPopup();"><img src="~/images/close.png" alt="@ParcelrateResources.Resources.Close"></a></div>
            <form>
                <fieldset>
                    <label for="number">@ParcelrateResources.Resources.Parcel_Number</label>
                    <input type="text" id="txtParcelNumber" placeholder="" readonly />
                </fieldset>
                <fieldset>
                    <label for="status">@ParcelrateResources.Resources.Status:</label>
                    <input type="text" id="txtStatus" placeholder="" readonly />
                </fieldset>
            </form>
            <table class="shipment-table" border="0">
                <thead>
                    <tr>
                        <th style="width:20%;">@ParcelrateResources.Resources.Date</th>
                        <th style="width:20%;">@ParcelrateResources.Resources.Time</th>
                        <th style="width:30%;">@ParcelrateResources.Resources.Location</th>
                        <th style="width:30%;">@ParcelrateResources.Resources.Tracking_Event</th>
                    </tr>
                </thead>
                <tbody id="trackShipmentContainer"></tbody>
            </table>
        </div>
    </div>
</div>

<div class="con-padding footer-links">
    <ul class="footer-listing pull-right">
        <li>
            <a>Copyright &copy; Parcel Kiosk Limited</a>
        </li>
    </ul>
</div>

@section scripts{
    <script type="text/javascript">
        var selectedShipmentID = 0;

        function showEditButtons(id) {
            $("#lnkAdd" + id).show();
            $("#lnkCancel" + id).show();
        }

        function hideButtons(id, awbNumber) {
            $("#lnkAdd" + id).hide();
            $("#lnkCancel" + id).hide();
                if ($.trim($("#txtAWBNumber" + id).val()) != awbNumber)
                    $("#txtAWBNumber" + id).css('border-color', '#f47920');
                else
                    $("#txtAWBNumber" + id).css('border-color', '#c9c9c9');
        }

        function cancelAwbNumber(id, awbNumber) {
            $("#txtAWBNumber" + id).val(awbNumber);
            $("#lnkAdd" + id).hide();
            $("#lnkCancel" + id).hide();
        }

        function saveAWBNumber(id, awbNumber) {
            $("#lnkAdd" + id).hide();
            $("#lnkCancel" + id).hide();
            var newAwbNumber = $.trim($("#txtAWBNumber" + id).val());
            if (newAwbNumber != awbNumber) {
                showLoader();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("UpdateShipmentAWBNumber")',
                    dataType: 'json',
                    data: { id: id, awbNumber: newAwbNumber },
                    success: function (response) {
                        hideLoader();
                        if (response) {
                            if (response.isSuccess) {
                                showMessagePopup(response.message);
                                location.reload(true);
                            }
                            else
                                showMessagePopup(response.error);
                        }
                    },
                    error: function (ex) {
                        hideLoader();
                        showMessagePopup('@Html.Raw(ParcelrateResources.Resources.ErrorMessage)');
                    }
                });
            }
        }

        function emailPDF(shipmentID) {
            $("#emailError").text('');
            $("#txtEmail").val('');
            selectedShipmentID = shipmentID;
            $("#divEmailPopup").slideDown();
            $("body").addClass('layout-hide');
        }

        function sendEmail() {
            var pattern = /^\w+([-+.'][^\s]\w+)*@@\w+([-.]\w+)*\.\w+([-.]\w+)*$/;
            if ($("#txtEmail").val() == "") {
                $("#emailError").text('@Html.Raw(ParcelrateResources.Resources.Required_Email)');
                $("#txtEmail").focus();
            }
            else if (!pattern.test($("#txtEmail").val())) {
                $("#emailError").text('');
                $("#emailError").text('@Html.Raw(ParcelrateResources.Resources.Valid_Email)');
                $("#txtEmail").focus();
            }
            else {
                showLoader();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("EmailPDF")',
                    dataType: 'json',
                    data: { email: $("#txtEmail").val(), shipmentID: selectedShipmentID },
                    success: function (response) {
                        closeEmailPopup();
                        hideLoader();
                        if (response) {
                            if (response.isSuccess)
                                showMessagePopup(response.message);
                            else
                                showMessagePopup(response.error);
                        }
                    },
                    error: function (ex) {
                        closeEmailPopup();
                        hideLoader();
                        showMessagePopup('@Html.Raw(ParcelrateResources.Resources.ErrorMessage)');
                    }
                });
            }
        }

        function closeEmailPopup() {
            $("#divEmailPopup").slideUp();
            $("body").removeClass('layout-hide');
        }

        function trackShipment(shipmentID, awbNumber) {
            if (awbNumber === '')
                showMessagePopup('@Html.Raw(ParcelrateResources.Resources.Required_AWBNumber)');
            else {
                showLoader();
                 $.ajax({
                    type: 'POST',
                    url: '@Url.Action("TrackShipment")',
                    dataType: 'json',
                    data: { shipmentID: shipmentID },
                    success: function (response) {
                        hideLoader();
                        if (response) {
                            if (response.isSuccess) {
                                $("#txtParcelNumber").val(shipmentID);
                                $("#txtStatus").val(response.data.currentTrackingStatus);
                                $("#trackShipmentContainer").html('');
                                if (response.data.trackingEventList != null && response.data.trackingEventList.length > 0)
                                    $("#TrackShipmentScript").tmpl(response.data.trackingEventList).appendTo("#trackShipmentContainer");
                                else
                                    $("#trackShipmentContainer").html('<tr><td class="text-center" colspan="4">@ParcelrateResources.Resources.No_Data_Found</td></tr>')
                                $("#divTrackShipmentPopup").slideDown();
                                $("body").addClass('layout-hide');
                            }
                            else {
                                $("#txtParcelNumber").val('');
                                $("#txtStatus").val('');
                                showMessagePopup(response.error);
                            }
                        }
                    },
                    error: function (ex) {
                        hideLoader();
                        showMessagePopup('@Html.Raw(ParcelrateResources.Resources.ErrorMessage)');
                    }
                });
            }
        }

        function closeTrackShipmentPopup() {
            $("#divTrackShipmentPopup").slideUp();
            $("body").removeClass('layout-hide');
        }

    </script>
}