﻿@model Parcelrate.Models.ProductDimensionsViewModel
@using ParcelrateUtilities

@{
    ViewData["Title"] = ParcelrateResources.Resources.New_Shipment;
    ViewBag.CurrentPage = "Shipments";
    var isLetMeShip = Convert.ToBoolean(User.Claims.FirstOrDefault(c => c.Type == Constants.IsLetMeShip).Value);
}
<div class="con-padding shipmant-heading">
    <div class="col-md-12">
        <h1>@ParcelrateResources.Resources.New_Shipment</h1>
        <a onclick="showDataLostMessagePopup();" class="back-link"><img src="~/images/back-btn.png" alt="back-link" />@ParcelrateResources.Resources.Back</a>
    </div>
</div>
<div class="bs-wizard" style="border-bottom:0;">
    <div class="col-xs-4 bs-wizard-step complete">
        <div class="text-center bs-wizard-stepnum">@ParcelrateResources.Resources.Product_Shipping_Details</div>
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="#" class="bs-wizard-dot">
            <svg version="1.1" id="Layer_1" xmlns:x="&amp;ns_extend;" xmlns:i="&amp;ns_ai;" xmlns:graph="&amp;ns_graphs;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="17px" height="12px" viewBox="0 0 17 12" enable-background="new 0 0 17 12" xml:space="preserve">
<switch>
            <foreignObject requiredExtensions="&amp;ns_ai;" x="0" y="0" width="1" height="1">
            <i:pgfref xlink:href="#adobe_illustrator_pgf">
		</i:pgfref>
	</foreignObject>
            <g i:extraneous="self">
            <g>
            <g>
            <path fill-rule="evenodd" clip-rule="evenodd" fill="#999999" d="M0,0v2h17V0H0z M0,7h17V5H0V7z M0,12h12v-2H0V12z"></path>
			</g>
		</g>
	</g>
</switch>

</svg>
        </a>
    </div>

    <div class="col-xs-4 bs-wizard-step active">
        <!-- complete -->
        <div class="text-center bs-wizard-stepnum">@ParcelrateResources.Resources.Product_Dimensions</div>
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="#" class="bs-wizard-dot">

            <svg version="1.1" id="Layer_1" xmlns:x="&amp;ns_extend;" xmlns:i="&amp;ns_ai;" xmlns:graph="&amp;ns_graphs;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="22.485px" height="20.894px" viewBox="0 0 22.485 20.894" enable-background="new 0 0 22.485 20.894" xml:space="preserve">
<switch>
	
            <g i:extraneous="self">
            <path fill="#999999" d="M22.219,18.717l-3.932-2.34l0.097-7.116c0,0,0,0,0-0.033s0-0.065,0-0.097V9.099
			c0-0.033-0.032-0.097-0.064-0.13s-0.065-0.065-0.065-0.098c0,0-0.032,0-0.032-0.032c-0.032-0.033-0.065-0.033-0.098-0.065
			c0,0,0,0-0.032,0l-6.109-3.64V0.585C11.983,0.26,11.723,0,11.431,0l0,0c-0.325,0-0.553,0.26-0.585,0.553v4.549L4.639,8.579
			c0,0,0,0-0.032,0C4.575,8.611,4.542,8.611,4.509,8.644c0,0-0.032,0-0.032,0.032C4.444,8.708,4.412,8.741,4.379,8.774
			c-0.032,0.032-0.032,0.097-0.065,0.13v0.032c0,0.033,0,0.065,0,0.098c0,0,0,0,0,0.032l-0.098,7.149l-3.932,2.21
			c-0.26,0.162-0.357,0.486-0.228,0.779c0.098,0.195,0.293,0.293,0.488,0.293c0.097,0,0.195-0.033,0.292-0.065l3.965-2.21
			l6.076,3.607c0,0,0,0,0.032,0c0.032,0.032,0.065,0.032,0.098,0.032h0.032c0.033,0,0.098,0.032,0.13,0.032l0,0
			c0.033,0,0.098,0,0.13-0.032h0.033c0.032,0,0.064-0.032,0.098-0.032c0,0,0,0,0.032,0l6.206-3.477l3.932,2.339
			c0.098,0.065,0.195,0.065,0.293,0.065c0.195,0,0.39-0.098,0.487-0.293C22.577,19.238,22.479,18.88,22.219,18.717z M5.386,16.215
			l0.065-6.142l5.265,3.119l-0.065,6.142L5.386,16.215z M11.398,6.109l5.265,3.12l-5.329,2.99l-5.265-3.12L11.398,6.109z
			 M11.885,13.258l5.33-2.99L17.15,16.41l-5.329,2.99L11.885,13.258z"></path>
	</g>
</switch>

</svg>

        </a>
    </div>

    <div class="col-xs-4 bs-wizard-step">
        <!-- complete -->
        <div class="text-center bs-wizard-stepnum">@ParcelrateResources.Resources.Select_Carrier</div>
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="#" class="bs-wizard-dot">

            <svg version="1.1" id="Layer_1" xmlns:x="&amp;ns_extend;" xmlns:i="&amp;ns_ai;" xmlns:graph="&amp;ns_graphs;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20.895px" height="14.423px" viewBox="0 0 20.895 14.423" enable-background="new 0 0 20.895 14.423" xml:space="preserve">
<switch>
	
            <g i:extraneous="self">
            <path fill="#999999" d="M10.447,0L7.263,5.521h2.307c0.002,2.076,0,4.151-0.007,6.225c-0.002,0.524-0.415,0.921-0.943,0.921H0
			v1.756h8.619c0.699,0,1.345-0.268,1.828-0.711c0.483,0.442,1.13,0.711,1.828,0.711h8.619v-1.756h-8.619
			c-0.536,0-0.942-0.407-0.942-0.943V5.521h2.299L10.447,0z"></path>
	</g>
</switch>

</svg>

        </a>
    </div>


</div>
<div class="con-padding minHeight100">
    <div class="col-md-12">
        <div class="product-overview">
            <div class="shipment-frame">
                <ul>
                    <li>
                        <h4>@ParcelrateResources.Resources.From : <a class="editShipmentDetails" href="~/Shipment/Create" title="@ParcelrateResources.Resources.Edit">@ParcelrateResources.Resources.Edit</a></h4>
                        <p class="ellipsis" id="pFromFullName" title="">
                            <span id="spnFromFirstName"></span> <span id="spnFromLastName"></span>
                        </p>
                        <p class="ellipsis" id="pFromFullAddress1" title="">
                            <span id="spnFromStreet"></span> <span id="spnFromHouseNo"></span>
                        </p>
                        <p class="ellipsis" id="pFromFullAddress2" title="">
                            <span id="spnFromCity"></span> <span id="spnFromPostCode"></span>
                        </p>
                        <p class="ellipsis" id="pFromCountryCode" title="">
                            <span id="spnFromCountryCode"></span>
                        </p>
                        <p class="ellipsis" id="pFromPhoneNo" title="">
                            <span id="spnFromPhoneNo"></span>
                        </p>
                        <p class="ellipsis" id="pFromEmail" title="">
                            <span id="spnFromEmail"></span>
                        </p>
                    </li>
                    <li>
                        <h4>@ParcelrateResources.Resources.To_Recipient : <a class="editShipmentDetails" href="~/Shipment/Create" title="@ParcelrateResources.Resources.Edit">@ParcelrateResources.Resources.Edit</a></h4>
                        <p class="ellipsis" id="pToFullName" title="">
                            <span id="spnToFirstName"></span> <span id="spnToLastName"></span>
                        </p>
                        <p class="ellipsis" id="pToFullAddress1" title="">
                            <span id="spnToStreet"></span> <span id="spnToHouseNo"></span>
                        </p>
                        <p class="ellipsis" id="pToFullAddress2" title="">
                            <span id="spnToCity"></span> <span id="spnToPostCode"></span>
                        </p>
                        <p class="ellipsis" id="pToCountryCode" title="">
                            <span id="spnToCountryCode"></span>
                        </p>
                        <p class="ellipsis" id="pToPhoneNo" title="">
                            <span id="spnToPhoneNo"></span>
                        </p>
                        <p class="ellipsis" id="pToEmail" title="">
                            <span id="spnToEmail"></span>
                        </p>
                    </li>
                    <li>
                        <h4>@ParcelrateResources.Resources.Parcel : @*<a href="javascript:void(0);" title="edit">edit</a>*@</h4>
                        <p class="ellipsis" id="pWeight" title=""><span id="spnWeight">@ParcelrateResources.Resources.To_Be_Filled</span></p>
                        <p class="ellipsis" id="pDimensions" title=""><span id="spnHeight"></span> * <span id="spnLength"></span> * <span id="spnWidth"></span> cm</p>
                        <p class="ellipsis" id="pDescriptions" title=""><span id="spnDescription"></span></p>
                    </li>
                    @*<li>
                            <h4>Service and Cost : <a href="javascript:void(0);" title="edit">edit</a></h4>
                            <p>DHL Premium<br>1 - Day Delievery<br>Costs 51.43 EUR</p>
                        </li>*@
                </ul>

            </div>
        </div>
    </div>
    <div class="col-md-12">
        <h2 style="margin-top:10px;">@ParcelrateResources.Resources.Product_Dimensions</h2>

        <div class="row">
            <div class="col-md-6">
                <p>@ParcelrateResources.Resources.Place_Package_On_Bedal_Text</p>
                <div class="pull-left product-name text-center">
                    <div class="pull-left product-img" id="myContent" style="display:none;">
                        <img src="~/images/product-image.png" alt="Product Image" width="67" height="68">
                    </div>
                    <a href="javascript:void(0);" title="@ParcelrateResources.Resources.Get_Dimensions" onclick="GetDimensions();">@ParcelrateResources.Resources.Get_Dimensions</a>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12">
            <div class="row">
                <form id="frmProductDimensions" method="post">
                    <input type="hidden" asp-for="IsBedalConnected" />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <input type="text" class="form-control" asp-for="Height" placeholder="(cm)*" onchange="setIsManual(this);" />
                                    </div>
                                    <div class="col-md-12">
                                        <span asp-validation-for="Height" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <input type="text" class="form-control" asp-for="Length" placeholder="(cm)*" onchange="setIsManual(this);" />
                                    </div>
                                    <div class="col-md-12">
                                        <span asp-validation-for="Length" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <input type="text" class="form-control" asp-for="Width" placeholder="(cm)*" onchange="setIsManual(this);" />
                                    </div>
                                    <div class="col-md-12">
                                        <span asp-validation-for="Width" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <input type="text" class="form-control" asp-for="Weight" placeholder="(kg)*" onchange="setIsManual(this,true);" />
                                    </div>
                                    <div class="col-md-12">
                                        <span asp-validation-for="Weight" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group checkbox">
                                <label>
                                    @Html.CheckBoxFor(m => m.IsInputManually, new { title = ParcelrateResources.Resources.Input_Dimensions_ManuallIy, onchange = "return InputManualChange(this);" })
                                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span> @ParcelrateResources.Resources.Input_Dimensions_ManuallIy
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 bottom-buttons">
                        <input type="submit" class="btn submi-btn pull-right" value="@ParcelrateResources.Resources.Continue" asp-action="ProductDimensions" onclick="return validateForm();" title="@ParcelrateResources.Resources.Continue" />
                        <a class="btn submi-btn pull-right" asp-action="Create" title="@ParcelrateResources.Resources.Back">@ParcelrateResources.Resources.Back</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="con-padding footer-links">
        <ul class="footer-listing pull-right">
            <li>
                <a>Copyright &copy; Parcel Kiosk Limited</a>
            </li>
        </ul>
    </div>
</div>
<div class="confirmation-layout" id="divConfirmMessage">
    <div class="confirmation-inner-layout">
        <h3>@ParcelrateResources.Resources.Confirmation</h3>
        <div class="close-btn"><a href="javascript:void(0);" title="@ParcelrateResources.Resources.Close" onclick="closeDimensionPopup();"><img src="~/images/close.png" alt="@ParcelrateResources.Resources.Close"></a></div>
        <div>
            <p>@ParcelrateResources.Resources.Dimensions_Confirmation</p>
        </div>
        <div class="pull-right">
            <button class="confirm-button active" type="button" onclick="dimensionsSuccess();" title="@ParcelrateResources.Resources.Yes">@ParcelrateResources.Resources.Yes</button>
            <button class="confirm-button" type="button" onclick="closeDimensionPopup();" title="@ParcelrateResources.Resources.No">@ParcelrateResources.Resources.No</button>
        </div>
    </div>
</div>
@section scripts{

    <script src="~/js/swfobject.js"></script>
    <script type="text/javascript">
        var path = window.location.origin;
        swfobject.switchOffAutoHideShow();
        var attributes = {
            "class": "pull-left product-img"
        };
        var flashvars = {
            foo: "bar",
            someInternalVariable: "some string",
            username: "Bugs Bunny"
        };
        var params = {
            wmode: "opaque",
            bgcolor: "#FFFFFF"
        };
        var callback = function (e) {
            if (!e.success) {
                $("#myContent").css({
                    'display': ''
                }).attr("class", "pull-left product-img");
            }
        };
        if (window.chrome)
            swfobject.ua.pv = [100, 0, 0];
        swfobject.embedSWF(path + "/images/Bedal.swf", "myContent", "150", "136", "9.0.0", "expressinstall.swf", flashvars, params, attributes, callback);
    </script>

    <script type="text/javascript">
        function setObject(key, obj) {
            localStorage.setItem(key, JSON.stringify(obj));
        }

        function getObject(key) {
            return JSON.parse(localStorage.getItem(key));
        }

        function updateItem(key, property, value) {
            var obj = getObject(key);
            obj[property] = value;
            setObject(key, obj);
        }

        var isRedirect = true;
        $(document).ready(function () {
            $(".left-sxn ul li a").click(function () {
                $("#btnDataLostSuccess").attr("onclick", "successAction('" + $(this).attr("href") + "')");
                showDataLostMessagePopup();
                return false;
            });
            $("#aLogOut").click(function () {
                $("#btnDataLostSuccess").attr("onclick", "successAction('" + $(this).attr("href") + "')");
                showDataLostMessagePopup();
                return false;
            });
            var shippDetails = localStorage.getItem("ShippingDetails");
            if (shippDetails) {
                if ('@TempData["CustomerId"]' != null) {
                                        
                    //update object property in sessionStorage
                    updateItem('ShippingDetails', 'customerId', '@TempData["CustomerId"]');
                    updateItem('ShippingDetails', 'deliveryAddressId', '@TempData["AddressId"]');
                }

                var prodDimensions = localStorage.getItem("ProductDimensions");
                if (prodDimensions) {
                    prodDimensions = JSON.parse(prodDimensions);
                    $("#Height").val(prodDimensions.height);
                    $("#Length").val(prodDimensions.length);
                    $("#Width").val(prodDimensions.width);
                    $("#Weight").val(prodDimensions.weight);
                    $("#IsInputManually")[0].checked = prodDimensions.isInputManually;

                    $("#spnHeight").text(prodDimensions.height);
                    $("#spnLength").text(prodDimensions.length);
                    $("#spnWidth").text(prodDimensions.width);
                    $("#spnWeight").text(prodDimensions.weight + " kg");

                    $("#pWeight").attr('title', prodDimensions.weight + " kg");
                    $("#pDimensions").attr('title', prodDimensions.height + " * " + prodDimensions.length + " * " + prodDimensions.width + " cm");
                }
                else {
                    $("#pDimensions").css({
                        'display': 'none'
                    });
                }
                if ($("#IsInputManually")[0].checked === false) {
                    $("#Height").attr("readonly", true);
                    $("#Width").attr("readonly", true);
                    $("#Length").attr("readonly", true);
                    $("#Weight").attr("readonly", true);
                }
                shippDetails = JSON.parse(shippDetails);

                $("#spnFromFirstName").text(shippDetails.shippedFromFirstName);
                $("#spnFromLastName").text(shippDetails.shippedFromLastName);
                $("#spnFromStreet").text(shippDetails.shippedFromAddress1);
                $("#spnFromHouseNo").text(shippDetails.shippedFromAddress2);
                $("#spnFromCountryCode").text(shippDetails.shippedFromCountryCode);
                $("#spnFromPostCode").text(shippDetails.shippedFromPostalCode);
                $("#spnFromPhoneNo").text(shippDetails.shippedFromPhonePrefix + " " + shippDetails.shippedFromPhoneNo);
                $("#spnFromEmail").text(shippDetails.shippedFromEmail);
                $("#spnFromCity").text(shippDetails.shippedFromCity);

                $("#pFromFullName").attr('title', shippDetails.shippedFromFirstName + " " + shippDetails.shippedFromLastName);
                $("#pFromFullAddress1").attr('title', shippDetails.shippedFromAddress1 + " " + shippDetails.shippedFromAddress2);
                $("#pFromFullAddress2").attr('title', shippDetails.shippedFromCity + " " + shippDetails.shippedFromPostalCode);
                $("#pFromCountryCode").attr('title', shippDetails.shippedFromCountryCode);
                $("#pFromPhoneNo").attr('title', shippDetails.shippedFromPhonePrefix + " " + shippDetails.shippedFromPhoneNo);
                $("#pFromEmail").attr('title', shippDetails.shippedFromEmail);

                $("#spnToFirstName").text(shippDetails.firstName);
                $("#spnToLastName").text(shippDetails.lastName);
                $("#spnToStreet").text(shippDetails.address1);
                $("#spnToHouseNo").text(shippDetails.address2);
                $("#spnToCountryCode").text(shippDetails.countryCode);
                $("#spnToPostCode").text(shippDetails.postalCode);
                $("#spnToPhoneNo").text(shippDetails.phonePrefix + " " + shippDetails.phoneNo);
                $("#spnToEmail").text(shippDetails.email);
                $("#spnToCity").text(shippDetails.city);

                $("#pToFullName").attr('title', shippDetails.firstName + " " + shippDetails.lastName);
                $("#pToFullAddress1").attr('title', shippDetails.address1 + " " + shippDetails.address2);
                $("#pToFullAddress2").attr('title', shippDetails.city + " " + shippDetails.postalCode);
                $("#pToCountryCode").attr('title', shippDetails.countryCode);
                $("#pToPhoneNo").attr('title', shippDetails.phonePrefix + " " + shippDetails.phoneNo);
                $("#pToEmail").attr('title', shippDetails.email);

                $("#spnDescription").text(shippDetails.description);
                $("#pDescriptions").attr('title', shippDetails.description);
            }
            else
                window.location.href = "/Shipment/Create";
        });

        function closeDimensionPopup() {
            $("#divConfirmMessage").slideUp();
            $("body").removeClass('layout-hide');
        }

        function openDimensionPopup() {
            $("#divConfirmMessage").slideDown();
            $("body").addClass('layout-hide');
        }

        function dimensionsSuccess() {
            $("#divConfirmMessage").slideUp();
            $("body").removeClass('layout-hide');
            window.location.href = "/Shipment/SelectCarrier";
        }

        function validateForm() {
            $("#frmProductDimensions").validate();
            if ($("#frmProductDimensions").valid()) {
                if ('@isLetMeShip' === 'True') {
                    var length = $("#Length").val();
                    var width = $("#Width").val();
                    var height = $("#Height").val();
                    if (parseInt($("#Length").val()) > 0 && parseInt($("#Height").val()) > 0 && parseInt($("#Height").val()) > 0 && parseInt($("#Length").val()) < parseInt($("#Height").val()) || parseInt($("#Length").val()) < parseInt($("#Width").val())) {
                        if (parseInt($("#Height").val()) > parseInt($("#Width").val())) {
                            $("#Length").val(height);
                            $("#Height").val(length);
                        }
                        else {
                            $("#Length").val(width);
                            $("#Width").val(length);
                        }
                    }
                }
                var productDimensions = {
                    height:$("#Height").val(),
                    length: $("#Length").val(),
                    width: $("#Width").val(),
                    weight: $("#Weight").val(),
                    isInputManually: $("#IsInputManually")[0].checked,
                    isBedalConnected: $("#IsBedalConnected").val(),
                };
                localStorage.setItem("ProductDimensions", JSON.stringify(productDimensions));
                if ('@isLetMeShip' === 'True') {
                    if (length != $("#Length").val()) {
                        openDimensionPopup();
                        return false;
                    }
                    else
                        return true;
                }
                else
                    return true;
            }
        };

        function InputManualChange(e) {
            if (e.checked === false) {
                $("#Height").attr("readonly", true);
                $("#Width").attr("readonly", true);
                $("#Length").attr("readonly", true);
                $("#Weight").attr("readonly", true);
            }
            else {
                $("#Height").attr("readonly", false);
                $("#Width").attr("readonly", false);
                $("#Length").attr("readonly", false);
                $("#Weight").attr("readonly", false);
            }
            return false;
        };

        function GetDimensions() {
            showLoader();
            $('#Length').val('');
            $('#Width').val('');
            $('#Height').val('');
            $('#Weight').val('');
            $.ajax({
                type: 'get',
                url: 'http://127.0.0.1:3654',
                dataType: 'jsonp',
                jsonpCallback: 'callback',
                success: function (data) {
                    hideLoader();
                    if (data.result_code != '0') {
                        $("#IsBedalConnected").val('False');
                        showMessagePopup(data.result_name);
                        return;
                    }
                    else if (data.result_name != undefined && data.result_name.toLowerCase().indexOf('disconnected') >= 0) {
                        $("#IsBedalConnected").val('False');
                        showMessagePopup('@Html.Raw(ParcelrateResources.Resources.Bedal_Response_Error)');
                        return;
                    }
                    else if (data.length.replace('cm', '') == "0" && data.width.replace('cm', '') && data.height.replace('cm', '') == "0" && data.weight.replace('kg', '') == "0")
                    {
                        $("#IsBedalConnected").val('False');
                        showMessagePopup('@Html.Raw(ParcelrateResources.Resources.Place_Package_On_Bedal_Text)');
                        return;
                    }
                    else {
                        $("#IsBedalConnected").val('True');
                        var len, heigh, widh;
                        var length = data.length.replace('cm', '');
                        var width = data.width.replace('cm', '');
                        var height = data.height.replace('cm', '');
                        var weight = data.weight.replace('kg', '');
                        length = parseInt(length.replace(' ', '').replace(',', '.'));
                        width = parseInt(width.replace(' ', '').replace(',', '.'));
                        height = parseInt(height.replace(' ', '').replace(',', '.'));
                        weight = weight.replace(' ', '').replace(',', '.');
                        if ('@isLetMeShip' === 'True') {
                            if (length < height || length < width) {
                                if (height > width) {
                                    len = height;
                                    heigh = length;
                                }
                                else {
                                    len = width;
                                    widh = length;
                                }
                            }
                            if (len && len != length) {
                                if (heigh) {
                                    $('#Length').val(len);
                                    $('#Width').val(width);
                                    $('#Height').val(heigh);
                                }
                                else {
                                    $('#Length').val(len);
                                    $('#Width').val(widh);
                                    $('#Height').val(height);
                                }
                            }
                            else {
                                $('#Length').val(length);
                                $('#Width').val(width);
                                $('#Height').val(height);
                            }
                            $('#Weight').val(weight);
                        }
                        else {
                            $('#Length').val(length);
                            $('#Width').val(width);
                            $('#Height').val(height);
                            $('#Weight').val(weight);
                        }
                    }
                },
                error: function (xhr, status, err) {
                    hideLoader();
                    showMessagePopup('@Html.Raw(ParcelrateResources.Resources.Bedal_Response_Error)');
                }
            });
        }

        function setIsManual(e, isWeight) {
            $("#IsBedalConnected").val('False');
            if (!isWeight && !isNaN($(e).val())) {
                $(e).val(Math.round($(e).val()));
            }
        }
    </script>
}