﻿@model List<ParcelrateEntities.CarrierEntity>
@using ParcelrateUtilities

@{
    ViewData["Title"] = ParcelrateResources.Resources.New_Shipment;
    ViewBag.CurrentPage = "Shipments";
}

<script id="CarrierScript" type="text/x-jquery-tmpl">
    <div class="col-lg-6">
        <div class="carrier-info">
            <div class="carrier-img">
                {{if isLetMeShip==true}}
                <img src="data:image/png;base64,${image}" alt="Carrier-logo" title="${name}">
                {{else}}
                <img src="${logo}" alt="Carrier-logo" title="${name}">
                {{/if}}
            </div>
            <div class="carrier-detail">
                <p style="position: absolute;top: 60px;left: 120px;">
                    {{if isLetMeShip==true && messages!=null}}
                    <a class="info-tooltip">
                        <img src="/images/info-triangle.png" style="height:20px;" />
                        <span class="tooltiptext" style="min-width:240px;font-family: 'mulilight';">${messages}</span>
                    </a>
                    {{/if}}
                </p>
                <p class="carrier-heading ellipsis">
                    <span title="${serviceName} (${name})">${serviceName} (${name})</span>
                </p>
                {{if isLetMeShip==true}}
                <p class="delivery-time">${transferTime}</p>
                {{/if}}
                <div class="">
                    <div class="col-sm-12">
                        <div class="col-sm-6">@ParcelrateResources.Resources.Base_Price</div>
                        {{if isLetMeShip==true}}
                        <div class="col-sm-6">${letMeShipPriceInfo.basePrice} ${currency}</div>
                        {{else}}
                        <div class="col-sm-6">${priceInfo.basePrice} ${currency}</div>
                        {{/if}}
                    </div>
                    {{if isLetMeShip==true}}
                    <div class="col-sm-12">
                        <div class="col-sm-6"> @ParcelrateResources.Resources.Surcharges</div>
                        <div class="col-sm-6">${fuelSurcharge} ${currency}</div>
                    </div>
                    {{/if}}
                    <div class="col-sm-12">
                        <div class="col-sm-6">@ParcelrateResources.Resources.Net_Price</div>
                        {{if isLetMeShip==true}}
                        <div class="col-sm-6">${letMeShipPriceInfo.netPrice} ${currency}</div>
                        {{else}}
                        <div class="col-sm-6">${priceInfo.netPrice} ${currency}</div>
                        {{/if}}
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-6">@ParcelrateResources.Resources.Total_VAT</div>
                        {{if isLetMeShip==true}}
                        <div class="col-sm-6">${letMeShipPriceInfo.totalVat} ${currency}</div>
                        {{else}}
                        <div class="col-sm-6">${priceInfo.totalVat} ${currency}</div>
                        {{/if}}
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-6">@ParcelrateResources.Resources.Total_Price</div>
                        {{if isLetMeShip==true}}
                        <div class="col-sm-6">${letMeShipPriceInfo.totalPrice} ${currency}</div>
                        {{else}}
                        <div class="col-sm-6">${priceInfo.totalPrice} ${currency}</div>
                        {{/if}}
                    </div>
                </div>
                {{if isLetMeShip==false || messages==null}}
                <a id="shipmentOverview" href="javascript:void(0);" title="@ParcelrateResources.Resources.Use_This_Service" class="pull-right buy-service" onclick="showShipmentSummary(${JSON.stringify($data)});">
                    @ParcelrateResources.Resources.Use_This_Service
                </a>
                {{else}}
                <a id="shipmentOverview" style="visibility:hidden" class="pull-right buy-service">
                    @ParcelrateResources.Resources.Use_This_Service
                </a>
                {{/if}}

            </div>
        </div>
    </div>
</script>

<script id="ShipmentSummaryScript" type="text/x-jquery-tmpl">
    <ul>
        <li>
            <h4>@ParcelrateResources.Resources.From : <a href="/Shipment/Create" title="@ParcelrateResources.Resources.Edit">@ParcelrateResources.Resources.Edit</a></h4>
            <p class="ellipsis" title="${pickupAddress.firstName}&nbsp;${pickupAddress.lastName}">
                ${pickupAddress.firstName}&nbsp;${pickupAddress.lastName}
            </p>
            <p class="ellipsis" title="${pickupAddress.street}&nbsp;${pickupAddress.house}">
                ${pickupAddress.street}&nbsp;${pickupAddress.house}
            </p>
            <p class="ellipsis" title="${pickupAddress.city}&nbsp;${pickupAddress.postalCode}">
                ${pickupAddress.city}&nbsp;${pickupAddress.postalCode}
            </p>
            <p class="ellipsis" title="${pickupAddress.countryCode}">
                ${pickupAddress.countryCode}
            </p>
            <p class="ellipsis" title="+${phonePrefix}&nbsp;${pickupAddress.phone}">
                +${phonePrefix}&nbsp;${pickupAddress.phone}
            </p>
            <p class="ellipsis" title="${pickupAddress.email}">
                ${pickupAddress.email}
            </p>
        </li>
        <li>
            <h4>@ParcelrateResources.Resources.To_Recipient : <a href="/Shipment/Create" title="@ParcelrateResources.Resources.Edit">@ParcelrateResources.Resources.Edit</a></h4>
            <p class="ellipsis" title="${deliveryAddress.firstName}&nbsp;${deliveryAddress.lastName}">${deliveryAddress.firstName}&nbsp;${deliveryAddress.lastName}</p>
            <p class="ellipsis" title="${deliveryAddress.street}&nbsp;${deliveryAddress.house}">${deliveryAddress.street}&nbsp;${deliveryAddress.house}</p>
            <p class="ellipsis" title="${deliveryAddress.city}&nbsp;${deliveryAddress.postalCode}">${deliveryAddress.city}&nbsp;${deliveryAddress.postalCode}</p>
            <p class="ellipsis" title="${deliveryAddress.countryCode}">${deliveryAddress.countryCode}</p>
            <p class="ellipsis" title="+${deliveryAddress.phonePrefix}&nbsp;${deliveryAddress.phone}">+${deliveryAddress.phonePrefix}&nbsp;${deliveryAddress.phone}</p>
            <p class="ellipsis" title="${deliveryAddress.email}">${deliveryAddress.email}</p>
        </li>
        <li>
            <h4>@ParcelrateResources.Resources.Parcel : <a href="/Shipment/ProductDimensions" title="@ParcelrateResources.Resources.Edit">@ParcelrateResources.Resources.Edit</a></h4>
            <p class="ellipsis" title="${parcels[0].weight}kg">${parcels[0].weight}kg</p>
            <p class="ellipsis" title="${parcels[0].height} * ${parcels[0].length} * ${parcels[0].width} cm">${parcels[0].height} * ${parcels[0].length} * ${parcels[0].width} cm</p>
            <p class="ellipsis" title="${contentDescription}">${contentDescription}</p>
        </li>
        <li>
            <h4>@ParcelrateResources.Resources.Service : <a href="javascript:void(0);" title="@ParcelrateResources.Resources.Change" onclick="closeSummaryPopup();">@ParcelrateResources.Resources.Change</a></h4>
            <p class="ellipsis" title="${selectedService.serviceName}">${selectedService.serviceName}</p>
            {{if selectedService.isLetMeShip==true}}
            <p class="ellipsis" title="@ParcelrateResources.Resources.Costs ${selectedService.letMeShipPriceInfo.totalPrice} EUR">@ParcelrateResources.Resources.Costs ${selectedService.letMeShipPriceInfo.totalPrice} EUR</p>
            {{else}}
            <p class="ellipsis" title="@ParcelrateResources.Resources.Costs ${selectedService.priceInfo.totalPrice}${currency}">@ParcelrateResources.Resources.Costs ${selectedService.priceInfo.totalPrice}${currency}</p>
            {{/if}}
            <p class="ellipsis" title="@ParcelrateResources.Resources.Collect ${pickupInterval_Date}">@ParcelrateResources.Resources.Collect ${pickupInterval_Date}</p>
        </li>
    </ul>
    <div class="buy-frame">
        <a href="javascript:void(0);" title="@ParcelrateResources.Resources.Buy_Service" class="pull-right buy-service" onclick="buyService();">@ParcelrateResources.Resources.Buy_Service</a>
    </div>
</script>

<div class="con-padding shipmant-heading">
    <div class="col-md-12">
        <h1>@ParcelrateResources.Resources.New_Shipment</h1>
        <a onclick="showDataLostMessagePopup();" class="back-link"><img src="~/images/back-btn.png" alt="back-link" />@ParcelrateResources.Resources.Back</a>
    </div>
</div>

<div class="bs-wizard" style="border-bottom:0;">
    <div class="col-xs-4 bs-wizard-step complete">
        <div class="text-center bs-wizard-stepnum">@ParcelrateResources.Resources.Product_Shipping_Details</div>
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="#" class="bs-wizard-dot">
            <svg version="1.1" id="Layer_1" xmlns:x="&amp;ns_extend;" xmlns:i="&amp;ns_ai;" xmlns:graph="&amp;ns_graphs;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="17px" height="12px" viewBox="0 0 17 12" enable-background="new 0 0 17 12" xml:space="preserve">
<switch>
            <foreignObject requiredExtensions="&amp;ns_ai;" x="0" y="0" width="1" height="1">
            <i:pgfref xlink:href="#adobe_illustrator_pgf">
		</i:pgfref>
	</foreignObject>
            <g i:extraneous="self">
            <g>
            <g>
            <path fill-rule="evenodd" clip-rule="evenodd" fill="#999999" d="M0,0v2h17V0H0z M0,7h17V5H0V7z M0,12h12v-2H0V12z"></path>
			</g>
		</g>
	</g>
</switch>

</svg>
        </a>
    </div>

    <div class="col-xs-4 bs-wizard-step complete">
        <!-- complete -->
        <div class="text-center bs-wizard-stepnum">@ParcelrateResources.Resources.Product_Dimensions</div>
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="#" class="bs-wizard-dot">

            <svg version="1.1" id="Layer_1" xmlns:x="&amp;ns_extend;" xmlns:i="&amp;ns_ai;" xmlns:graph="&amp;ns_graphs;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="22.485px" height="20.894px" viewBox="0 0 22.485 20.894" enable-background="new 0 0 22.485 20.894" xml:space="preserve">
<switch>
	
            <g i:extraneous="self">
            <path fill="#999999" d="M22.219,18.717l-3.932-2.34l0.097-7.116c0,0,0,0,0-0.033s0-0.065,0-0.097V9.099
			c0-0.033-0.032-0.097-0.064-0.13s-0.065-0.065-0.065-0.098c0,0-0.032,0-0.032-0.032c-0.032-0.033-0.065-0.033-0.098-0.065
			c0,0,0,0-0.032,0l-6.109-3.64V0.585C11.983,0.26,11.723,0,11.431,0l0,0c-0.325,0-0.553,0.26-0.585,0.553v4.549L4.639,8.579
			c0,0,0,0-0.032,0C4.575,8.611,4.542,8.611,4.509,8.644c0,0-0.032,0-0.032,0.032C4.444,8.708,4.412,8.741,4.379,8.774
			c-0.032,0.032-0.032,0.097-0.065,0.13v0.032c0,0.033,0,0.065,0,0.098c0,0,0,0,0,0.032l-0.098,7.149l-3.932,2.21
			c-0.26,0.162-0.357,0.486-0.228,0.779c0.098,0.195,0.293,0.293,0.488,0.293c0.097,0,0.195-0.033,0.292-0.065l3.965-2.21
			l6.076,3.607c0,0,0,0,0.032,0c0.032,0.032,0.065,0.032,0.098,0.032h0.032c0.033,0,0.098,0.032,0.13,0.032l0,0
			c0.033,0,0.098,0,0.13-0.032h0.033c0.032,0,0.064-0.032,0.098-0.032c0,0,0,0,0.032,0l6.206-3.477l3.932,2.339
			c0.098,0.065,0.195,0.065,0.293,0.065c0.195,0,0.39-0.098,0.487-0.293C22.577,19.238,22.479,18.88,22.219,18.717z M5.386,16.215
			l0.065-6.142l5.265,3.119l-0.065,6.142L5.386,16.215z M11.398,6.109l5.265,3.12l-5.329,2.99l-5.265-3.12L11.398,6.109z
			 M11.885,13.258l5.33-2.99L17.15,16.41l-5.329,2.99L11.885,13.258z"></path>
	</g>
</switch>

</svg>

        </a>
    </div>

    <div class="col-xs-4 bs-wizard-step active">
        <!-- complete -->
        <div class="text-center bs-wizard-stepnum">@ParcelrateResources.Resources.Select_Carrier</div>
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="#" class="bs-wizard-dot">

            <svg version="1.1" id="Layer_1" xmlns:x="&amp;ns_extend;" xmlns:i="&amp;ns_ai;" xmlns:graph="&amp;ns_graphs;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20.895px" height="14.423px" viewBox="0 0 20.895 14.423" enable-background="new 0 0 20.895 14.423" xml:space="preserve">
<switch>
	
            <g i:extraneous="self">
            <path fill="#999999" d="M10.447,0L7.263,5.521h2.307c0.002,2.076,0,4.151-0.007,6.225c-0.002,0.524-0.415,0.921-0.943,0.921H0
			v1.756h8.619c0.699,0,1.345-0.268,1.828-0.711c0.483,0.442,1.13,0.711,1.828,0.711h8.619v-1.756h-8.619
			c-0.536,0-0.942-0.407-0.942-0.943V5.521h2.299L10.447,0z"></path>
	</g>
</switch>

</svg>

        </a>
    </div>


</div>

<div class="con-padding minHeight100">
    <div class="col-md-12">
        <div class="product-overview">
            <div class="shipment-frame">
                <ul>
                    <li>
                        <h4>@ParcelrateResources.Resources.From : <a class="editShipmentDetails" href="~/Shipment/Create" title="@ParcelrateResources.Resources.Edit">@ParcelrateResources.Resources.Edit</a></h4>
                        <p class="ellipsis" id="pFromFullName" title="">
                            <span id="spnFromFirstName"></span> <span id="spnFromLastName"></span>
                        </p>
                        <p class="ellipsis" id="pFromFullAddress1" title="">
                            <span id="spnFromStreet"></span> <span id="spnFromHouseNo"></span>
                        </p>
                        <p class="ellipsis" id="pFromFullAddress2" title="">
                            <span id="spnFromCity"></span> <span id="spnFromPostCode"></span>
                        </p>
                        <p class="ellipsis" id="pFromCountryCode" title="">
                            <span id="spnFromCountryCode"></span>
                        </p>
                        <p class="ellipsis" id="pFromPhoneNo" title="">
                            <span id="spnFromPhoneNo"></span>
                        </p>
                        <p class="ellipsis" id="pFromEmail" title="">
                            <span id="spnFromEmail"></span>
                        </p>
                    </li>
                    <li>
                        <h4>@ParcelrateResources.Resources.To_Recipient : <a class="editShipmentDetails" href="~/Shipment/Create" title="@ParcelrateResources.Resources.Edit">@ParcelrateResources.Resources.Edit</a></h4>
                        <p class="ellipsis" id="pToFullName" title="">
                            <span id="spnToFirstName"></span> <span id="spnToLastName"></span>
                        </p>
                        <p class="ellipsis" id="pToFullAddress1" title="">
                            <span id="spnToStreet"></span> <span id="spnToHouseNo"></span>
                        </p>
                        <p class="ellipsis" id="pToFullAddress2" title="">
                            <span id="spnToCity"></span> <span id="spnToPostCode"></span>
                        </p>
                        <p class="ellipsis" id="pToCountryCode" title="">
                            <span id="spnToCountryCode"></span>
                        </p>
                        <p class="ellipsis" id="pToPhoneNo" title="">
                            <span id="spnToPhoneNo"></span>
                        </p>
                        <p class="ellipsis" id="pToEmail" title="">
                            <span id="spnToEmail"></span>
                        </p>
                    </li>
                    <li>
                        <h4>@ParcelrateResources.Resources.Parcel : <a id="editProductDimensions" href="~/Shipment/ProductDimensions" title="@ParcelrateResources.Resources.Edit">@ParcelrateResources.Resources.Edit</a></h4>
                        <p class="ellipsis" id="pWeight" title=""><span id="spnWeight"></span></p>
                        <p class="ellipsis" id="pDimensions" title=""><span id="spnHeight"></span> * <span id="spnLength"></span> * <span id="spnWidth"></span> cm</p>
                        <p class="ellipsis" id="pDescriptions" title=""><span id="spnDescription"></span></p>
                    </li>
                    @*<li>
                            <h4>Service and Cost : <a href="javascript:void(0);" title="edit">edit</a></h4>
                            <p>DHL Premium<br>1 - Day Delievery<br>Costs 51.43 EUR</p>
                        </li>*@
                </ul>

            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <h2>@ParcelrateResources.Resources.Select_Carrier</h2>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="pull-right">
                            <form>
                                <h4 class="pull-left carrier-sort">@ParcelrateResources.Resources.Sort_By:</h4>
                                <div class="custom-select pull-left">
                                    <select id="ddlSortService" class="form-control" style="padding-right:40px;" asp-items="@(new SelectList(ViewBag.SortOptionsList,"Key","Value"))" onchange="GetAvailableCarriers(true);">
                                        <option>@ParcelrateResources.Resources.Select</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="divCarriers" class="row">
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12 bottom-buttons" style="margin-top:30px;">
            <a class="btn submi-btn pull-right" href="~/Shipment/ProductDimensions" title="@ParcelrateResources.Resources.Back">@ParcelrateResources.Resources.Back</a>
        </div>
    </div>

    <div class="shipment-overview carrier-shipment-overview" id="divShipmentOverviewPopup">
        <div class="shipment-frame carrier-shipment-frame">
            <h3>@ParcelrateResources.Resources.Shipment_Overview</h3>
            <div class="close-btn"><a href="javascript:void(0);" title="@ParcelrateResources.Resources.Close" onclick="closeSummaryPopup();"><img src="/images/close.png" alt="Close"></a></div>
            <div id="divShipmentOverview"></div>
        </div>
    </div>
    <div class="thankyou-frame carrier-thankyou-frame" id="divThankYou">
        <div class="thankyou-container carrier-thankyou-container">
            <h3>@ParcelrateResources.Resources.Thank_You</h3>
            <div class="close-btnb"><a href="~/Shipment/Index" title="@ParcelrateResources.Resources.Close"><img src="~/images/close.png" alt="Close"></a></div>
            <p>@ParcelrateResources.Resources.Booking_Made_Text</p>
            <div class="view-label"><a href="javascript:void(0);" title="@ParcelrateResources.Resources.View_Label" onclick="showShipmentMessagePopup()">@ParcelrateResources.Resources.View_Label</a></div>
        </div>
    </div>
    <div class="con-padding footer-links">
        <ul class="footer-listing pull-right">
            <li>
                <a>Copyright &copy; Parcel Kiosk Limited</a>
            </li>
        </ul>
    </div>
</div>
<div class="confirmation-layout" id="divShipmentMessage">
    <div class="confirmation-inner-layout">
        <h3>@ParcelrateResources.Resources.Message</h3>
        <div class="close-btn"><a href="javascript:void(0);" title="@ParcelrateResources.Resources.Close" onclick="closeShipmentMessagePopup();"><img src="~/images/close.png" alt="@ParcelrateResources.Resources.Close"></a></div>
        <div>
            <p id="shipmentMessage">@ParcelrateResources.Resources.Label_Error</p>
        </div>
        <div class="pull-right">
            <button class="confirm-button active" type="button" onclick="closeShipmentMessagePopup();" title="@ParcelrateResources.Resources.Ok">@ParcelrateResources.Resources.Ok</button>
        </div>
    </div>
</div>


@section scripts{
    <script type="text/javascript">

        var shipmentRequestModel;
        var newShipmentID=0;
        $(document).ready(function () {
            $(".left-sxn ul li a").click(function () {
                $("#btnDataLostSuccess").attr("onclick", "successAction('" + $(this).attr("href") + "')");
                showDataLostMessagePopup();
                return false;
            });
            $("#aLogOut").click(function () {
                $("#btnDataLostSuccess").attr("onclick", "successAction('" + $(this).attr("href") + "')");
                showDataLostMessagePopup();
                return false;
            });
            var shippDetails = localStorage.getItem("ShippingDetails");
            var productDimensions = localStorage.getItem("ProductDimensions");
            if (shippDetails && productDimensions) {
                productDimensions = JSON.parse(productDimensions);
                if (productDimensions) {
                    $("#spnHeight").text(productDimensions.height);
                    $("#spnLength").text(productDimensions.length);
                    $("#spnWidth").text(productDimensions.width);
                    $("#spnWeight").text(productDimensions.weight + " kg");

                    $("#pWeight").attr('title', productDimensions.weight + " kg");
                    $("#pDimensions").attr('title', productDimensions.height + " * " + productDimensions.length + " * " + productDimensions.width + " cm");
                }
                shippDetails = JSON.parse(shippDetails);
                if (shippDetails) {
                    $("#spnFromFirstName").text(shippDetails.shippedFromFirstName);
                    $("#spnFromLastName").text(shippDetails.shippedFromLastName);
                    $("#spnFromStreet").text(shippDetails.shippedFromAddress1);
                    $("#spnFromHouseNo").text(shippDetails.shippedFromAddress2);
                    $("#spnFromCountryCode").text(shippDetails.shippedFromCountryCode);
                    $("#spnFromPostCode").text(shippDetails.shippedFromPostalCode);
                    $("#spnFromPhoneNo").text(shippDetails.shippedFromPhonePrefix + " " + shippDetails.shippedFromPhoneNo);
                    $("#spnFromEmail").text(shippDetails.shippedFromEmail);
                    $("#spnFromCity").text(shippDetails.shippedFromCity);

                    $("#pFromFullName").attr('title', shippDetails.shippedFromFirstName + " " + shippDetails.shippedFromLastName);
                    $("#pFromFullAddress1").attr('title', shippDetails.shippedFromAddress1 + " " + shippDetails.shippedFromAddress2);
                    $("#pFromFullAddress2").attr('title', shippDetails.shippedFromCity + " " + shippDetails.shippedFromPostalCode);
                    $("#pFromCountryCode").attr('title', shippDetails.shippedFromCountryCode);
                    $("#pFromPhoneNo").attr('title', shippDetails.shippedFromPhonePrefix + " " + shippDetails.shippedFromPhoneNo);
                    $("#pFromEmail").attr('title', shippDetails.shippedFromEmail);

                    $("#spnToFirstName").text(shippDetails.firstName);
                    $("#spnToLastName").text(shippDetails.lastName);
                    $("#spnToStreet").text(shippDetails.address1);
                    $("#spnToHouseNo").text(shippDetails.address2);
                    $("#spnToCountryCode").text(shippDetails.countryCode);
                    $("#spnToPostCode").text(shippDetails.postalCode);
                    $("#spnToPhoneNo").text(shippDetails.phonePrefix + " " + shippDetails.phoneNo);
                    $("#spnToEmail").text(shippDetails.email);
                    $("#spnToCity").text(shippDetails.city);

                    $("#pToFullName").attr('title', shippDetails.firstName + " " + shippDetails.lastName);
                    $("#pToFullAddress1").attr('title', shippDetails.address1 + " " + shippDetails.address2);
                    $("#pToFullAddress2").attr('title', shippDetails.city + " " + shippDetails.postalCode);
                    $("#pToCountryCode").attr('title', shippDetails.countryCode);
                    $("#pToPhoneNo").attr('title', shippDetails.phonePrefix + " " + shippDetails.phoneNo);
                    $("#pToEmail").attr('title', shippDetails.email);

                    $("#spnDescription").text(shippDetails.description);
                    $("#pDescriptions").attr('title', shippDetails.description);
                }
                GetAvailableCarriers();
            }
            else
                window.location.href="/Shipment/Create";
        });

        function GetAvailableCarriers(isSort) {
            var shippDetails = localStorage.getItem("ShippingDetails");
            shippDetails = JSON.parse(shippDetails);
            var productDimensions = JSON.parse(localStorage.getItem("ProductDimensions"));
            if (shippDetails && productDimensions) {
                if (isSort!=true)
                    showLoader('@Html.Raw(ParcelrateResources.Resources.Carrier_Loader_Text)');
                else
                    showLoader();
                var parcels = [{
                    quantity: 1,
                    shipmentType: shippDetails.shipmentType,
                    height: productDimensions.height,
                    length: productDimensions.length,
                    weight: productDimensions.weight,
                    width: productDimensions.width,
                    description: shippDetails.description,
                    goodsValue: shippDetails.valueOfGoods
                }];
                 shipmentRequestModel = {
                    pickupAddress: PickupAddressMapper(shippDetails),
                    deliveryAddress: DeliveryAddressMapper(shippDetails),
                    parcels: parcels,
                    contentDescription: shippDetails.description,
                    goodsValueSpecified: true,
                    goodsValue: shippDetails.valueOfGoods,
                    pickupInterval_Date: shippDetails.pickupDate,
                    pickupTimeFrom: shippDetails.pickupTimeFrom,
                    pickupTimeTo: shippDetails.pickupTimeTo,
                    isPickupOrder: shippDetails.isPickupOrder,
                    shipperReference: shippDetails.shipperReference,
                    isBedalConnected: productDimensions.isBedalConnected=='True'?true:false,
                    culture: '@User.Claims.FirstOrDefault(x=>x.Type==Constants.Culture)?.Value'
                };

                 var sortOption = isSort === true ? $("#ddlSortService").val() : "";

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetAvailableCarriers")',
                    dataType: 'json',
                    data: { shipmentRequestModel: shipmentRequestModel, sortOption: sortOption },
                    success: function (response) {
                        $("#spanLoadingText").text('@ParcelrateResources.Resources.Loading_Text')
                        hideLoader();
                        if (response) {
                            if (response.isSuccess == true) {
                                $("#divCarriers").html('');
                                $("#CarrierScript").tmpl(response.data).appendTo("#divCarriers");
                            }
                            else
                                showMessagePopup(response.error);
                        }
                    },
                    error: function (ex) {
                        $("#spanLoadingText").text('@ParcelrateResources.Resources.Loading_Text')
                        hideLoader();
                        showMessagePopup('@Html.Raw(ParcelrateResources.Resources.ErrorMessage)');
                    }
                });
            }
            else
                window.location.href="/Shipment/Create";
        }

        function PickupAddressMapper(shippDetails) {
            return {
                countryId: shippDetails.shippedFromCountryId,
                countryCode :shippDetails.shippedFromCountryCode,
                zip :shippDetails.shippedFromPostalCode,
                city :shippDetails.shippedFromCity,
                street :shippDetails.shippedFromAddress1,
                house :shippDetails.shippedFromAddress2,
                company :shippDetails.shippedFromCompany,
                firstName :shippDetails.shippedFromFirstName,
                lastName :shippDetails.shippedFromLastName,
                phone :shippDetails.shippedFromPhoneNo,
                phonePrefix :shippDetails.shippedFromPhonePrefix,
                email :shippDetails.shippedFromEmail
            };
        }

        function DeliveryAddressMapper(shippDetails) {
            return {
                countryId: shippDetails.countryId,
                countryCode :shippDetails.countryCode,
                zip :shippDetails.postalCode,
                city :shippDetails.city,
                street :shippDetails.address1,
                house :shippDetails.address2,
                company :shippDetails.company,
                firstName :shippDetails.firstName,
                lastName :shippDetails.lastName,
                phone :shippDetails.phoneNo,
                phonePrefix :shippDetails.phonePrefix,
                email: shippDetails.email
            };
        }

        function showShipmentSummary(selectedCarrier) {
            if (shipmentRequestModel && selectedCarrier) {
              shipmentRequestModel.selectedService = selectedCarrier;
              $("#divShipmentOverview").html("");
              $("#ShipmentSummaryScript").tmpl(shipmentRequestModel).appendTo("#divShipmentOverview");
              $("#divShipmentOverviewPopup").slideDown();
              $("body").addClass('layout-hide');
          }
        };

        function buyService() {
                showLoader();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("CreateShipment")',
                    dataType: 'json',
                    data: { shipmentRequestModel: shipmentRequestModel },
                    success: function (response) {
                        hideLoader();
                        if (response) {
                            closeSummaryPopup();
                            if (response.isSuccess == true) {
                                refreshNewShipment();
                                newShipmentID = response.newShipmentID;
                                $("#divThankYou").slideDown();
                                $("body").addClass('layout-hide');
                            }
                            else {
                                showMessagePopup(response.error);
                            }
                        }
                    },
                    error: function (ex) {
                        hideLoader();
                        showMessagePopup('@Html.Raw(ParcelrateResources.Resources.ErrorMessage)');
                    }
                });
        }

        function closeSummaryPopup() {
            $("#divShipmentOverviewPopup").slideUp();
            $("body").removeClass('layout-hide');
        }

    </script>
}