﻿@model Parcelrate.Models.ShipmentDetailsViewModel
@using  ParcelrateUtilities

@{
    ViewData["Title"] = ParcelrateResources.Resources.New_Shipment;
    ViewBag.CurrentPage = "Shipments";
    bool isLetMeShip = Convert.ToBoolean(User.Claims.FirstOrDefault(c => c.Type == Constants.IsLetMeShip).Value);
    string termsConditions = isLetMeShip ? ParcelrateResources.Resources.LMS_TermsAndConditions : "https://allpacka.com/terms-conditions-tc/";
}
<div class="con-padding shipmant-heading">
    <div class="col-md-12">
        <h1>@ParcelrateResources.Resources.New_Shipment</h1>
        <a onclick="getHasChangesNewShipment();" class="back-link"><img src="~/images/back-btn.png" alt="back-link" />@ParcelrateResources.Resources.Back</a>
    </div>
</div>
<div class="bs-wizard" style="border-bottom:0;">
    <div class="col-xs-4 bs-wizard-step active">
        <div class="text-center bs-wizard-stepnum">@ParcelrateResources.Resources.Product_Shipping_Details</div>
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="#" class="bs-wizard-dot">
            <svg version="1.1" id="Layer_1" xmlns:x="&amp;ns_extend;" xmlns:i="&amp;ns_ai;" xmlns:graph="&amp;ns_graphs;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="17px" height="12px" viewBox="0 0 17 12" enable-background="new 0 0 17 12" xml:space="preserve">
<switch>
            <foreignObject requiredExtensions="&amp;ns_ai;" x="0" y="0" width="1" height="1">
            <i:pgfref xlink:href="#adobe_illustrator_pgf">
		</i:pgfref>
	</foreignObject>
            <g i:extraneous="self">
            <g>
            <g>
            <path fill-rule="evenodd" clip-rule="evenodd" fill="#999999" d="M0,0v2h17V0H0z M0,7h17V5H0V7z M0,12h12v-2H0V12z"></path>
			</g>
		</g>
	</g>
</switch>

</svg>
        </a>
    </div>

    <div class="col-xs-4 bs-wizard-step">
        <!-- complete -->
        <div class="text-center bs-wizard-stepnum">@ParcelrateResources.Resources.Product_Dimensions</div>
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="#" class="bs-wizard-dot">

            <svg version="1.1" id="Layer_1" xmlns:x="&amp;ns_extend;" xmlns:i="&amp;ns_ai;" xmlns:graph="&amp;ns_graphs;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="22.485px" height="20.894px" viewBox="0 0 22.485 20.894" enable-background="new 0 0 22.485 20.894" xml:space="preserve">
<switch>
	
            <g i:extraneous="self">
            <path fill="#999999" d="M22.219,18.717l-3.932-2.34l0.097-7.116c0,0,0,0,0-0.033s0-0.065,0-0.097V9.099
			c0-0.033-0.032-0.097-0.064-0.13s-0.065-0.065-0.065-0.098c0,0-0.032,0-0.032-0.032c-0.032-0.033-0.065-0.033-0.098-0.065
			c0,0,0,0-0.032,0l-6.109-3.64V0.585C11.983,0.26,11.723,0,11.431,0l0,0c-0.325,0-0.553,0.26-0.585,0.553v4.549L4.639,8.579
			c0,0,0,0-0.032,0C4.575,8.611,4.542,8.611,4.509,8.644c0,0-0.032,0-0.032,0.032C4.444,8.708,4.412,8.741,4.379,8.774
			c-0.032,0.032-0.032,0.097-0.065,0.13v0.032c0,0.033,0,0.065,0,0.098c0,0,0,0,0,0.032l-0.098,7.149l-3.932,2.21
			c-0.26,0.162-0.357,0.486-0.228,0.779c0.098,0.195,0.293,0.293,0.488,0.293c0.097,0,0.195-0.033,0.292-0.065l3.965-2.21
			l6.076,3.607c0,0,0,0,0.032,0c0.032,0.032,0.065,0.032,0.098,0.032h0.032c0.033,0,0.098,0.032,0.13,0.032l0,0
			c0.033,0,0.098,0,0.13-0.032h0.033c0.032,0,0.064-0.032,0.098-0.032c0,0,0,0,0.032,0l6.206-3.477l3.932,2.339
			c0.098,0.065,0.195,0.065,0.293,0.065c0.195,0,0.39-0.098,0.487-0.293C22.577,19.238,22.479,18.88,22.219,18.717z M5.386,16.215
			l0.065-6.142l5.265,3.119l-0.065,6.142L5.386,16.215z M11.398,6.109l5.265,3.12l-5.329,2.99l-5.265-3.12L11.398,6.109z
			 M11.885,13.258l5.33-2.99L17.15,16.41l-5.329,2.99L11.885,13.258z"></path>
	</g>
</switch>

</svg>

        </a>
    </div>

    <div class="col-xs-4 bs-wizard-step">
        <!-- complete -->
        <div class="text-center bs-wizard-stepnum">@ParcelrateResources.Resources.Select_Carrier</div>
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="#" class="bs-wizard-dot">

            <svg version="1.1" id="Layer_1" xmlns:x="&amp;ns_extend;" xmlns:i="&amp;ns_ai;" xmlns:graph="&amp;ns_graphs;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20.895px" height="14.423px" viewBox="0 0 20.895 14.423" enable-background="new 0 0 20.895 14.423" xml:space="preserve">
<switch>
	
            <g i:extraneous="self">
            <path fill="#999999" d="M10.447,0L7.263,5.521h2.307c0.002,2.076,0,4.151-0.007,6.225c-0.002,0.524-0.415,0.921-0.943,0.921H0
			v1.756h8.619c0.699,0,1.345-0.268,1.828-0.711c0.483,0.442,1.13,0.711,1.828,0.711h8.619v-1.756h-8.619
			c-0.536,0-0.942-0.407-0.942-0.943V5.521h2.299L10.447,0z"></path>
	</g>
</switch>

</svg>

        </a>
    </div>


</div>
<div class="con-padding minHeight100">
    <div class="col-md-12">
        <div class="product-overview">
            <div class="shipment-frame">
                <ul>
                    <li>
                        <h4>@ParcelrateResources.Resources.From : @*<a href="javascript:void(0);" title="edit">edit</a>*@</h4>
                        <p class="ellipsis" id="pFromFullName" title="">
                            <span id="spnFromFirstName">@Model.ShippedFromFirstName</span> <span id="spnFromLastName">@((Model.ShippedFromLastName == string.Empty) || (Model.ShippedFromLastName == null) ? ParcelrateResources.Resources.To_Be_Filled : Model.ShippedFromLastName)</span>
                        </p>
                        <p class="ellipsis" id="pFromFullAddress1" title="">
                            <span id="spnFromStreet">@((Model.ShippedFromAddress1 == string.Empty) || (Model.ShippedFromAddress1 == null) ? ParcelrateResources.Resources.To_Be_Filled : Model.ShippedFromAddress1)</span> <span id="spnFromHouseNo">@Model.ShippedFromAddress2</span>
                        </p>
                        <p class="ellipsis" id="pFromFullAddress2" title="">
                            <span id="spnFromCity">@((Model.ShippedFromCity == string.Empty) || (Model.ShippedFromCity == null) ? ParcelrateResources.Resources.To_Be_Filled : Model.ShippedFromCity)</span> <span id="spnFromPostCode">@Model.ShippedFromPostalCode</span>
                        </p>
                        <p class="ellipsis" id="pFromCountryCode" title="">
                            <span id="spnFromCountryCode">@((Model.ShippedFromCountryCode == string.Empty) || (Model.ShippedFromCountryCode == null) ? ParcelrateResources.Resources.To_Be_Filled : Model.ShippedFromCountryCode)</span>
                        </p>
                        <p class="ellipsis" id="pFromPhoneNo" title="">
                            <span id="spnFromPhoneNo">@((Model.ShippedFromPhonePrefix == string.Empty) || (Model.ShippedFromPhonePrefix == null) ? ParcelrateResources.Resources.To_Be_Filled : Model.ShippedFromPhonePrefix) @Model.ShippedFromPhoneNo</span>
                        </p>
                        <p class="ellipsis" id="pFromEmail" title="">
                            <span id="spnFromEmail">@((Model.ShippedFromEmail == string.Empty) || (Model.ShippedFromEmail == null) ? ParcelrateResources.Resources.To_Be_Filled : Model.ShippedFromEmail)</span>
                        </p>
                    </li>
                    <li>
                        <h4>@ParcelrateResources.Resources.To_Recipient : @*<a href="javascript:void(0);" title="edit">edit</a>*@</h4>
                        <p class="ellipsis" id="pToFullName" title="">
                            <span id="spnToFirstName"></span> <span id="spnToLastName">@ParcelrateResources.Resources.To_Be_Filled</span>
                        </p>
                        <p class="ellipsis" id="pToFullAddress1" title="">
                            <span id="spnToStreet">@ParcelrateResources.Resources.To_Be_Filled</span> <span id="spnToHouseNo"></span>
                        </p>
                        <p class="ellipsis" id="pToFullAddress2" title="">
                            <span id="spnToCity">@ParcelrateResources.Resources.To_Be_Filled</span> <span id="spnToPostCode"></span>
                        </p>
                        <p class="ellipsis" id="pToCountryCode" title="">
                            <span id="spnToCountryCode">@ParcelrateResources.Resources.To_Be_Filled</span>
                        </p>
                        <p class="ellipsis" id="pToPhoneNo" title="">
                            <span id="spnToPhoneNo">@ParcelrateResources.Resources.To_Be_Filled</span>
                        </p>
                        <p class="ellipsis" id="pToEmail" title="">
                            <span id="spnToEmail">@ParcelrateResources.Resources.To_Be_Filled</span>
                        </p>
                    </li>
                    <li>
                        <h4>@ParcelrateResources.Resources.Parcel : <a id="editProductDimensions" href="#" onclick="return validateAndCallPost();" title="@ParcelrateResources.Resources.Edit">@ParcelrateResources.Resources.Edit</a></h4>
                        <p class="ellipsis" id="pWeight" title=""><span id="spnWeight">@ParcelrateResources.Resources.To_Be_Filled</span></p>
                        <p class="ellipsis" id="pDimensions" title=""><span id="spnHeight"></span> * <span id="spnLength"></span> * <span id="spnWidth"></span> cm</p>
                        <p class="ellipsis" id="pDescriptions" title=""><span id="spnDescription">@ParcelrateResources.Resources.To_Be_Filled</span></p>
                    </li>
                    @*<li>
                            <h4>Service and Cost : <a href="javascript:void(0);" title="edit">edit</a></h4>
                            <p>DHL Premium<br>1 - Day Delievery<br>Costs 51.43 EUR</p>
                        </li>*@
                </ul>

            </div>
        </div>
    </div>
    <form id="frmShippingDetails" method="post" asp-action="Create">
        <div class="col-md-6">
            <h2>@ParcelrateResources.Resources.Ship_From</h2>
            <input type="hidden" id="hdn_IsDefault" asp-for="IsDefaultAddressExist" />
            <div class="form-group">
                <input class="form-control" type="text" maxlength="50" placeholder="@ParcelrateResources.Resources.Company" asp-for="ShippedFromCompany" />
                <span asp-validation-for="ShippedFromCompany" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" maxlength="50" placeholder="@ParcelrateResources.Resources.First_Name" asp-for="ShippedFromFirstName" />
                <span asp-validation-for="ShippedFromFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" maxlength="50" placeholder="@ParcelrateResources.Resources.Last_Name*" asp-for="ShippedFromLastName" />
                <span asp-validation-for="ShippedFromLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" maxlength="200" placeholder="@ParcelrateResources.Resources.Street*" asp-for="ShippedFromAddress1" />
                <span asp-validation-for="ShippedFromAddress1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" maxlength="7" placeholder="@ParcelrateResources.Resources.House_Number*" asp-for="ShippedFromAddress2" />
                <span asp-validation-for="ShippedFromAddress2" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="custom-select half-width">
                    <select class="form-control" asp-for="ShippedFromCountryId" asp-items="@(new SelectList(ViewBag.CountryList,"ID","Name"))" onchange="return getShippedFromCountryData(this);">
                        <option disabled selected>@ParcelrateResources.Resources.Select</option>
                    </select>
                    @*<span asp-validation-for="ShippedFromCountryId" class="text-danger"></span>*@
                </div>
                <input id="txtShippedFromCountryCode" class="form-control country-code" type="text" placeholder="@ParcelrateResources.Resources.Country_Code" asp-for="ShippedFromCountryCode" disabled />
                <input type="hidden" id="ShippedFromCountryCode" asp-for="ShippedFromCountryCode" />
            </div>
            <div>
                <span asp-validation-for="ShippedFromCountryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" maxlength="10" placeholder="Postal Code*" asp-for="ShippedFromPostalCode" />
                <span asp-validation-for="ShippedFromPostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" maxlength="50" placeholder="@ParcelrateResources.Resources.City*" asp-for="ShippedFromCity" />
                <span asp-validation-for="ShippedFromCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input id="txtShippedFromPhonePrefix" class="form-control phone-prefix" type="text" placeholder="@ParcelrateResources.Resources.Phone_Prefix" asp-for="ShippedFromPhonePrefix" disabled />
                <input class="form-control phone-number" type="text" maxlength="15" placeholder="@ParcelrateResources.Resources.Phone_Number*" asp-for="ShippedFromPhoneNo" />
                @*<span asp-validation-for="ShippedFromPhoneNo" class="text-danger"></span>*@
                <input type="hidden" asp-for="ShippedFromPhonePrefix" />
            </div>
            <div class="phone-number" style="margin-left: 30%;">
                <span asp-validation-for="ShippedFromPhoneNo" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top:0px;">
                <input class="form-control" type="text" maxlength="50" placeholder="@ParcelrateResources.Resources.Email*" asp-for="ShippedFromEmail" />
                <span asp-validation-for="ShippedFromEmail" class="text-danger"></span>
            </div>
            <div class="form-group checkbox">
                <label>
                    @Html.CheckBoxFor(m => m.IsPickupOrder, new { title = ParcelrateResources.Resources.Pickup_Order })
                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>@ParcelrateResources.Resources.Pickup_Order
                </label>
                <label>
                    @Html.CheckBoxFor(m => m.IsSaveAsDefaultAddress, new { title = ParcelrateResources.Resources.Use_Address_As_Default })
                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>@ParcelrateResources.Resources.Use_Address_As_Default
                </label>
            </div>
        </div>
        <div class="col-md-6">
            <h2>@ParcelrateResources.Resources.Ship_To</h2>
            <input type="hidden" asp-for="CustomerID" />
            <div class="form-group">
                <div class="custom-select">
                    <select class="form-control" asp-for="DeliveryAddressID" asp-items="@(new SelectList(ViewBag.CustomerList,"AddressID","CustomerID"))" data-val="false" onchange="return getCustomerAddress(this);">
                        <option selected value="0">@ParcelrateResources.Resources.Select</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" maxlength="50" placeholder="@ParcelrateResources.Resources.First_Name" asp-for="FirstName" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" maxlength="50" placeholder="@ParcelrateResources.Resources.Last_Name*" asp-for="LastName" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" maxlength="200" placeholder="@ParcelrateResources.Resources.Street*" asp-for="Address1" />
                <span asp-validation-for="Address1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" maxlength="7" placeholder="@ParcelrateResources.Resources.House_Number*" asp-for="Address2" />
                <span asp-validation-for="Address2" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="custom-select half-width">
                    <select class="form-control" asp-for="CountryId" asp-items="@(new SelectList(ViewBag.CountryList,"ID","Name"))" onchange="return getCountryData(this);">
                        <option disabled selected value="null">@ParcelrateResources.Resources.Select</option>
                    </select>
                    @*<span asp-validation-for="CountryId" class="text-danger"></span>*@
                </div>
                <input id="txtCountryCode" class="form-control country-code" type="text" placeholder="@ParcelrateResources.Resources.Country_Code" asp-for="CountryCode" disabled />
                <input type="hidden" asp-for="CountryCode" />
            </div>
            <div>
                <span asp-validation-for="CountryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" maxlength="10" placeholder="@ParcelrateResources.Resources.Postal_Code*" asp-for="PostalCode" />
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" maxlength="50" placeholder="@ParcelrateResources.Resources.City*" asp-for="City" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input id="txtPhonePrefix" class="form-control phone-prefix" type="text" placeholder="@ParcelrateResources.Resources.Phone_Prefix" asp-for="PhonePrefix" disabled />
                <input class="form-control phone-number" maxlength="15" type="text" placeholder="@ParcelrateResources.Resources.Phone_Number*" asp-for="PhoneNo" />
                @*<span asp-validation-for="PhoneNo" class="text-danger"></span>*@
                <input type="hidden" asp-for="PhonePrefix" />
            </div>
            <div class="phone-number" style="margin-left: 30%;">
                <span asp-validation-for="PhoneNo" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top:0px;">
                <input class="form-control" type="text" maxlength="50" placeholder="@ParcelrateResources.Resources.Company_Contact_Name" asp-for="Company" />
                <span asp-validation-for="Company" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" maxlength="50" placeholder="@ParcelrateResources.Resources.Email*" asp-for="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group checkbox">
                <label>
                    @Html.CheckBoxFor(m => m.IsSaveAddressToDb, new { title = ParcelrateResources.Resources.Save_address_To_Db })
                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>@ParcelrateResources.Resources.Save_address_To_Db
                </label>
            </div>
        </div>
        <div class="clearfix"></div>
        <h2>@ParcelrateResources.Resources.Additional_Information</h2>
        <div class="additional-info">
            <div class="col-md-6">
                <div class="form-group">
                    <input class="form-control" type="text" maxlength="50" asp-for="ShipperReference" placeholder="@ParcelrateResources.Resources.Shippers_Reference" />
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" maxlength="10" asp-for="ValueOfGoods" placeholder="@ParcelrateResources.Resources.Value_Of_Goods*" />
                    <span asp-validation-for="ValueOfGoods" class="text-danger"></span>
                </div>
                <div class="date form-group half-width pull-left clock-icon datepicker" onclick="showCalender();">
                    <input type="text" class="form-control" placeholder="@ParcelrateResources.Resources.Pickup_Date*" asp-for="PickupDate" />
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                    <span asp-validation-for="PickupDate" class="text-danger"></span>
                </div>
                <div class="form-group date-slot pull-left" style="padding: 3px 5px;">
                    <div class="custom-select">
                        <select class="form-control" title="@ParcelrateResources.Resources.TimeFrom" asp-for="PickupTimeFrom" asp-items="@(new SelectList(ViewBag.PickupTimeFromRange,"Value","Caption"))"></select>
                    </div>
                </div>
                <div class="form-group date-slot pull-left" style="padding: 3px 5px;">
                    <div class="custom-select">
                        <select class="form-control" title="@ParcelrateResources.Resources.TimeTo" asp-for="PickupTimeTo" asp-items="@(new SelectList(ViewBag.PickupTimeToRange,"Value","Caption"))"></select>
                        <span asp-validation-for="PickupTimeTo" class="text-danger"></span>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" maxlength="50" class="form-control" asp-for="Description" placeholder="@ParcelrateResources.Resources.Description*" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group radio">
                    <p>@ParcelrateResources.Resources.Shipment_Type</p>
                    <label>
                        <input id="txtParcel" value="@Constants.ParcelText" type="radio" name="shipmentType" asp-for="ShipmentType">
                        <span class="cr"><i class="radio-circle"></i></span><p>@ParcelrateResources.Resources.Parcel</p>
                    </label>
                    <label>
                        <input id="txtDocument" value="@Constants.DocumentText" type="radio" name="shipmentType" asp-for="ShipmentType">
                        <span class="cr"><i class="radio-circle"></i></span><p>@ParcelrateResources.Resources.Document</p>
                    </label>
                    <input type="hidden" asp-for="ShipmentType" />
                </div>
                <div class="form-group checkbox checkboxTerms">
                    <label style="width:100%;">
                        @Html.CheckBoxFor(m => m.IsAgreeTermsConditions, new { title = ParcelrateResources.Resources.New_Shipment_Agree_Text })
                        <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>@ParcelrateResources.Resources.New_Shipment_Agree_Text&nbsp;
                        <a href="@termsConditions" target="_blank" title="@ParcelrateResources.Resources.Terms_Conditions">@ParcelrateResources.Resources.Terms_Conditions</a>
                    </label>
                    <span asp-validation-for="IsAgreeTermsConditions" class="text-danger"></span>
                </div>
            </div>
        </div>
        <input type="submit" id="btnSubmitDetails" class="btn submi-btn pull-right" value="@ParcelrateResources.Resources.Continue" onclick="return validateForm();" title="@ParcelrateResources.Resources.Continue" />
    </form>

    <div class="con-padding footer-links">
        <ul class="footer-listing pull-right">
            <li>
                <a>Copyright &copy; Parcel Kiosk Limited</a>
            </li>
        </ul>
    </div>

</div>

@section scripts{

<script type="text/javascript">

        function showCalender() {
            $('#PickupDate').focus();
        }

        $(document).ready(function () {

            $(".left-sxn ul li a").click(function () {
                getHasChangesNewShipment($(this).attr("href"));
                return false;
            });
            $("#aLogOut").click(function () {
                getHasChangesNewShipment($(this).attr("href"));
                return false;
            });
            var shippDetails = localStorage.getItem("ShippingDetails");
            if (shippDetails) {
                shippDetails = JSON.parse(shippDetails);
                var today = new Date();
                $("#ShippedFromCompany").val(shippDetails.shippedFromCompany);
                $("#ShippedFromFirstName").val(shippDetails.shippedFromFirstName);
                $("#ShippedFromLastName").val(shippDetails.shippedFromLastName);
                $("#ShippedFromAddress1").val(shippDetails.shippedFromAddress1);
                $("#ShippedFromAddress2").val(shippDetails.shippedFromAddress2);
                $("#ShippedFromCountryId").val(shippDetails.shippedFromCountryId);
                $("#txtShippedFromCountryCode").val(shippDetails.shippedFromCountryCode);
                $("#ShippedFromCountryCode").val(shippDetails.shippedFromCountryCode);
                $("#txtShippedFromPhonePrefix").val(shippDetails.shippedFromPhonePrefix);
                $("#ShippedFromPhonePrefix").val(shippDetails.shippedFromPhonePrefix);
                $("#ShippedFromPostalCode").val(shippDetails.shippedFromPostalCode);
                $("#ShippedFromPhoneNo").val(shippDetails.shippedFromPhoneNo);
                $("#ShippedFromEmail").val(shippDetails.shippedFromEmail);
                $("#ShippedFromCity").val(shippDetails.shippedFromCity);
                $("#IsPickupOrder")[0].checked = shippDetails.isPickupOrder;
                $("#IsSaveAsDefaultAddress")[0].checked = shippDetails.isSaveAsDefaultAddress;

                $("#CustomerID").val(shippDetails.customerId),
                $("#DeliveryAddressID").val(shippDetails.deliveryAddressId);
                $("#Company").val(shippDetails.company);
                $("#FirstName").val(shippDetails.firstName);
                $("#LastName").val(shippDetails.lastName);
                $("#Address1").val(shippDetails.address1);
                $("#Address2").val(shippDetails.address2);
                $("#CountryId").val(shippDetails.countryId);
                $("#txtCountryCode").val(shippDetails.countryCode);
                $("#CountryCode").val(shippDetails.countryCode);
                $("#txtPhonePrefix").val(shippDetails.phonePrefix);
                $("#PhonePrefix").val(shippDetails.phonePrefix);
                $("#PostalCode").val(shippDetails.postalCode);
                $("#PhoneNo").val(shippDetails.phoneNo);
                $("#Email").val(shippDetails.email);
                $("#City").val(shippDetails.city);
                $("#IsSaveAddressToDb")[0].checked=shippDetails.isSaveAddressToDb;

                $("#ShipperReference").val(shippDetails.shipperReference);
                $("#Description").val(shippDetails.description);
                $("#ValueOfGoods").val(shippDetails.valueOfGoods);
                $("input[value=" + shippDetails.shipmentType + "]").attr("checked", "checked");
                $("#PickupDate").val(shippDetails.pickupDate);
                $("#PickupTimeFrom").val(shippDetails.pickupTimeFrom);
                $("#PickupTimeTo").val(shippDetails.pickupTimeTo);
                $("#IsAgreeTermsConditions")[0].checked = shippDetails.isAgreeTermsConditions;

                $("#spnFromFirstName").text(shippDetails.shippedFromFirstName);
                $("#spnFromLastName").text(shippDetails.shippedFromLastName);
                $("#spnFromStreet").text(shippDetails.shippedFromAddress1);
                $("#spnFromHouseNo").text(shippDetails.shippedFromAddress2);
                $("#spnFromCountryCode").text(shippDetails.shippedFromCountryCode);
                $("#spnFromPostCode").text(shippDetails.shippedFromPostalCode);
                $("#spnFromPhoneNo").text(shippDetails.shippedFromPhonePrefix + " " + shippDetails.shippedFromPhoneNo);
                $("#spnFromEmail").text(shippDetails.shippedFromEmail);
                $("#spnFromCity").text(shippDetails.shippedFromCity);

                $("#pFromFullName").attr('title', shippDetails.shippedFromFirstName + " " + shippDetails.shippedFromLastName);
                $("#pFromFullAddress1").attr('title', shippDetails.shippedFromAddress1 + " " + shippDetails.shippedFromAddress2);
                $("#pFromFullAddress2").attr('title', shippDetails.shippedFromCity + " " + shippDetails.shippedFromPostalCode);
                $("#pFromCountryCode").attr('title', shippDetails.shippedFromCountryCode);
                $("#pFromPhoneNo").attr('title', shippDetails.shippedFromPhonePrefix + " " + shippDetails.shippedFromPhoneNo);
                $("#pFromEmail").attr('title', shippDetails.shippedFromEmail);

                $("#spnToFirstName").text(shippDetails.firstName);
                $("#spnToLastName").text(shippDetails.lastName);
                $("#spnToStreet").text(shippDetails.address1);
                $("#spnToHouseNo").text(shippDetails.address2);
                $("#spnToCountryCode").text(shippDetails.countryCode);
                $("#spnToPostCode").text(shippDetails.postalCode);
                $("#spnToPhoneNo").text(shippDetails.phonePrefix + " " + shippDetails.phoneNo);
                $("#spnToEmail").text(shippDetails.email);
                $("#spnToCity").text(shippDetails.city);

                $("#pToFullName").attr('title', shippDetails.firstName + " " + shippDetails.lastName);
                $("#pToFullAddress1").attr('title', shippDetails.address1 + " " + shippDetails.address2);
                $("#pToFullAddress2").attr('title', shippDetails.city + " " + shippDetails.postalCode);
                $("#pToCountryCode").attr('title', shippDetails.countryCode);
                $("#pToPhoneNo").attr('title', shippDetails.phonePrefix + " " + shippDetails.phoneNo);
                $("#pToEmail").attr('title', shippDetails.email);


                $("#spnDescription").text(shippDetails.description);
                $("#pDescriptions").attr('title', shippDetails.description);
            }
            var prodDimensions = localStorage.getItem("ProductDimensions");
            if (prodDimensions) {
                prodDimensions = JSON.parse(prodDimensions);
                $("#spnHeight").text(prodDimensions.height);
                $("#spnLength").text(prodDimensions.length);
                $("#spnWidth").text(prodDimensions.width);
                $("#spnWeight").text(prodDimensions.weight + " kg");

                $("#pWeight").attr('title', prodDimensions.weight + " kg");
                $("#pDimensions").attr('title', prodDimensions.height + " * " + prodDimensions.length + " * " + prodDimensions.width + " cm");
            }
            else {
                $("#pDimensions").css({
                    'display':'none'
                });
                $("#editProductDimensions").css({
                    'display': 'none'
                });
            }
        });

        function validateAndCallPost() {
            $("#btnSubmitDetails").click();
        }

        function validateForm() {
            $("#frmShippingDetails").validate();
            if ($("#frmShippingDetails").valid()) {
                var shippingDetails = {
                    shippedFromCompany: $("#ShippedFromCompany").val(),
                    shippedFromFirstName: $("#ShippedFromFirstName").val(),
                    shippedFromLastName: $("#ShippedFromLastName").val(),
                    shippedFromAddress1: $("#ShippedFromAddress1").val(),
                    shippedFromAddress2: $("#ShippedFromAddress2").val(),
                    shippedFromCountryId: $("#ShippedFromCountryId").val(),
                    shippedFromCountryCode: $("#ShippedFromCountryCode").val(),
                    shippedFromPhonePrefix: $("#ShippedFromPhonePrefix").val(),
                    shippedFromPostalCode: $("#ShippedFromPostalCode").val(),
                    shippedFromPhoneNo: $("#ShippedFromPhoneNo").val(),
                    shippedFromEmail: $("#ShippedFromEmail").val(),
                    shippedFromCity: $("#ShippedFromCity").val(),
                    isPickupOrder: $("#IsPickupOrder")[0].checked,
                    isSaveAsDefaultAddress: $("#IsSaveAsDefaultAddress")[0].checked,

                    customerId: $("#CustomerID").val(),
                    deliveryAddressId: $("#DeliveryAddressID").val(),
                    company: $("#Company").val(),
                    firstName: $("#FirstName").val(),
                    lastName: $("#LastName").val(),
                    address1: $("#Address1").val(),
                    address2: $("#Address2").val(),
                    countryId: $("#CountryId").val(),
                    countryCode: $("#CountryCode").val(),
                    phonePrefix: $("#PhonePrefix").val(),
                    postalCode: $("#PostalCode").val(),
                    phoneNo: $("#PhoneNo").val(),
                    email: $("#Email").val(),
                    city: $("#City").val(),
                    isSaveAddressToDb: $("#IsSaveAddressToDb")[0].checked,

                    shipperReference: $("#ShipperReference").val(),
                    description: $("#Description").val(),
                    valueOfGoods: $("#ValueOfGoods").val(),
                    shipmentType: $("input[name=shipmentType]:checked").val(),
                    pickupDate: $("#PickupDate").val(),
                    pickupTimeFrom: $("#PickupTimeFrom").val(),
                    pickupTimeTo: $("#PickupTimeTo").val(),
                    isAgreeTermsConditions: $("#IsAgreeTermsConditions")[0].checked
                };
                localStorage.setItem("ShippingDetails", JSON.stringify(shippingDetails));
            }
        }

        function getShippedFromCountryData(e) {
            $.ajax({
                type: 'POST',
                url: '/Home/GetCountryData',
                dataType: 'json',
                data: { countryID: $(e).val() },
                success: function (response) {
                    $("#txtShippedFromCountryCode").val(response.code);
                    $("#txtShippedFromPhonePrefix").val(response.phonePrefix);
                    $("#ShippedFromCountryCode").val(response.code);
                    $("#ShippedFromPhonePrefix").val(response.phonePrefix);
                },
                error: function (ex) {
                    console.log('Failed to retrieve country code and phone prefix' + ex);
                }
            });
            return false;
        }

        function getCustomerAddress(e) {
            var addressID = $(e).val();
            if (addressID != null && addressID != "0") {              
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetCustomerAddress")',
                    dataType: 'json',
                    data: { addressID: addressID },
                    success: function (response) {
                        if (response != null) {
                            $("#CustomerID").val(response.customerID);
                            $("#FirstName").val(response.firstName);
                            $("#LastName").val(response.lastName);
                            $("#Address1").val(response.address1);
                            $("#Address2").val(response.address2);
                            $("#CountryId").val(response.countryId);
                            $("#CountryCode").val(response.countryCode);
                            $("#txtCountryCode").val(response.countryCode);
                            $("#PhonePrefix").val(response.phonePrefix);
                            $("#txtPhonePrefix").val(response.phonePrefix);
                            $("#PostalCode").val(response.postalCode);
                            $("#City").val(response.city);
                            $("#PhoneNo").val(response.phoneNo);
                            $("#Company").val(response.company);
                            $("#Email").val(response.email);
                            $("#frmShippingDetails").validate();
                        }
                    },
                    error: function (ex) {
                        console.log('Failed to retrieve selected customer address' + ex);
                    }
                });
            }
            else {
                $("#DeliveryAddressID").val("0");
                $("#CustomerID").val("");
                $("#FirstName").val("");
                $("#LastName").val("");
                $("#Address1").val("");
                $("#Address2").val("");
                $("#CountryId").val("null");
                $("#CountryCode").val("");
                $("#txtCountryCode").val("");
                $("#PhonePrefix").val("");
                $("#txtPhonePrefix").val("");
                $("#PostalCode").val("");
                $("#City").val("");
                $("#PhoneNo").val("");
                $("#Company").val("");
                $("#Email").val("");
                $("#frmShippingDetails").validate();
            }
            return false;
        }
</script>
}