﻿@model Parcelrate.Models.SignUpViewModel
@{
    ViewData["Title"] = ParcelrateResources.Resources.Sign_Up;
    ViewBag.CurrentPage = "SignUp";
}

<section class="container login">
    <!--container-->
    <div id="divMainContainer" style="display:none;">
        <div class="col-xs-12 col-md-6 left-col text-center">
            <!--left-col-->
            <div class="logo"><img src="~/images/logo.png" alt="Parcelrate" /></div>
            <!--/left-col-->
        </div>
        <div class="col-xs-12 col-md-6 right-col">
            <!--right-col-->
            <div class="row">
                <div class="col-xs-12 col-md-10 col-md-offset-1 right-col-bx">
                    <form method="post" asp-controller="Account" asp-action="SignUp">
                        <div class="pull-right language-select position-right-corner">
                            <label class="pull-left">@ParcelrateResources.Resources.Language</label>
                            <div class="custom-select pull-left">
                                <select class="form-control" asp-for="Culture" asp-items="@(new SelectList(ViewBag.LanguageList,"Key","Value"))" onchange="ChangeLanguage(this);">
                                    <option disabled>@ParcelrateResources.Resources.Select</option>
                                </select>
                            </div>
                        </div>
                        <div asp-validation-summary="ModelOnly"></div>
                        <a href="/Account/Login" class="back-link"><img src="~/images/back-btn.png" alt="back-link" />@ParcelrateResources.Resources.Back</a>
                        <h1>@ParcelrateResources.Resources.Sign_Up</h1>
                        <div>
                            <div class="form-group" data-toggle="validator">
                                <div class="custom-select">
                                    <select id="ddlCountry" class="form-control" asp-for="CountryId" asp-items="@(new SelectList(ViewBag.CountryList,"ID","Name"))">
                                        <option disabled selected>@ParcelrateResources.Resources.Select</option>
                                    </select>
                                    <input type="hidden" asp-for="CountryName" />
                                    <span asp-validation-for="CountryId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group" data-toggle="validator">
                                <div>
                                    <input asp-for="BusinessName" maxlength="40" class="form-control" type="text" placeholder="@ParcelrateResources.Resources.BusinessName*" />
                                    <span asp-validation-for="BusinessName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group" data-toggle="validator">
                                <div>
                                    <input asp-for="Name" maxlength="40" class="form-control" type="text" placeholder="@ParcelrateResources.Resources.Name*" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group" data-toggle="validator">
                                <div>
                                    <input asp-for="Email" maxlength="40" class="form-control" type="text" placeholder="@ParcelrateResources.Resources.Email*" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group" data-toggle="validator">
                                <div>
                                    <input asp-for="PhoneNo" maxlength="20" class="form-control" type="text" placeholder="@ParcelrateResources.Resources.Phone" />
                                    <span asp-validation-for="PhoneNo" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group" data-toggle="validator">
                                <div class="custom-select">
                                    <select id="ddlSelectMeFor" class="form-control" asp-for="ContactMeForId" asp-items="@(new SelectList(ViewBag.ContactMeForList,"Key","Value"))">
                                        <option disabled selected>@ParcelrateResources.Resources.Select</option>
                                    </select>
                                    <input type="hidden" asp-for="ContactMeFor" />
                                    <span asp-validation-for="ContactMeForId" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input class="login-btn btn" type="submit" name="submit-login" value="@ParcelrateResources.Resources.Sign_Up" title="@ParcelrateResources.Resources.Sign_Up" />
                            <input class="reset-btn btn" type="reset" name="submit-login" value="@ParcelrateResources.Resources.Cancel" title="@ParcelrateResources.Resources.Cancel" />
                        </div>
                    </form>
                </div>
            </div>
            <!--/right-col-->
        </div>
    </div>
    <!--/container-->
</section>
<footer class="container-fluid" style="display:none;">
    <!--footer-->
    <p class="text-center">
        Copyright &copy; Parcel Kiosk Limited (Company Registration No. 9774674),<br />
        Invision House, Wilbury Way, Hitchin, Hertfordshire, SG4 0TY, United Kingdom. All rights reserved.
    </p>
    <!--/footer-->
</footer>

@section scripts{
<script type="text/javascript">

    document.addEventListener('DOMContentLoaded', function () {
        var userLang = navigator.language || navigator.userLanguage;
        if (userLang.indexOf('de') > -1 && $("#Culture").val() != "de-DE" && '@TempData["IsCultureChange"]' == '@null') {
            ChangeDefaultLanguage("de-DE");
        }
        else {
            $("#divMainContainer").css({
                'display': ''
            });
            $("footer").css({
                'display': ''
            });
        }
    });

        $(document).on('keydown', '#Username,#Password', function (e) {
            if (e.keyCode == 32) return false;
        });
        $(document).on('change', '#Username,#Password', function (e) {
                $(this).val($(this).val().replace(/\s/g, ""));
        });

        $("#ddlCountry").on('change',function () {
            $("#CountryName").val($("#ddlCountry option:selected").text());
        });
        $("#ddlSelectMeFor").on('change', function () {
            $("#ContactMeFor").val($("#ddlSelectMeFor option:selected").text());
        });

       function ChangeLanguage(e) {
           ChangeDefaultLanguage($(e).val());
        };

        function ChangeDefaultLanguage(value) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("SetLanguage")',
                data: { culture: value },
                success: function () {
                    location.reload();
                },
                error: function (ex) {
                    console.log('Failed to change culture.' + ex);
                }
            });
        };

        $(function () {
            if ('@Model.Message' != "") {
                showMessagePopupAndUpdateRedirectUrl('@Html.Raw(Model.Message)', '/Account/login');
            }
        });

</script>
}
