@font-face {
    font-family: 'muliblack';
    src: url('../fonts/muli-black-webfont.woff2') format('woff2'), url('../fonts/muli-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mulibold';
    src: url('../fonts/muli-bold-webfont.woff2') format('woff2'), url('../fonts/muli-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mulilight';
    src: url('../fonts/muli-light-webfont.woff2') format('woff2'), url('../fonts/muli-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'muliregular';
    src: url('../fonts/muli-regular-webfont.woff2') format('woff2'), url('../fonts/muli-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mulisemibold';
    src: url('../fonts/muli-semibold-webfont.woff2') format('woff2'), url('../fonts/muli-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

html, body {
    height: 100%;
}

body {
    font-family: 'mulilight';
    background: #fff;
    color: #333333;
    font-size: 14px;
}

h1 {
    font-family: 'mulilight';
    font-size: 28px;
    color: #666666;
    letter-spacing: -1px;
}

.login {
    padding: 10vh 0 0;
}

    .login .left-col {
        background: #f47920;
        height: 80vh;
        display: table;
    }

        .login .left-col .logo {
            display: table-cell;
            vertical-align: middle;
        }

    .login .right-col {
        background: #fbfbfb;
    }

        .login .right-col .right-col-bx {
            height: 80vh;
            display: table;
        }

        .login .right-col form {
            display: table-cell;
            vertical-align: middle;
        }

        .login .right-col .bold-text {
            font-family: 'muliblack';
            color: #666666;
            font-size: 15px;
        }

        .login .right-col .btn {
            padding: 14px 28px;
            background: #f47920;
            font-family: 'mulibold';
            color: #FFF;
            font-size: 15px;
            border-radius: 2px;
            margin-right: 15px;
        }

        .login .right-col .reset-btn.btn {
            background: #939598;
        }

        .login .right-col p {
            padding: 15px 0 5px;
        }

        .login .right-col a {
            color: #208ef4;
        }

.show-password {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 0;
}

    .show-password .hide-pass {
        margin-top: 1px;
    }

    .show-password svg {
        fill: #f47920;
    }

.form-group {
    position: relative;
    margin: 20px 0 0 0;
}

.form-control {
    border: none;
    box-shadow: none;
    background: none;
    border-bottom: #c9c9c9 solid 1px;
    padding-left: 0;
    border-radius: 0;
    font-size: 15px;
    color: #5b5b5b;
    height: 50px;
}

.custom-select::after {
    content: '';
    width: 12px;
    height: 6px;
    background: url('../images/drop-down-arrow.png') no-repeat left top;
    position: absolute;
    right: 20px;
    top: 22px;
}

.custom-select .form-control {
    position: relative;
    z-index: 1;
    text-indent: -1px;
}

.custom-select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    -webkit-appearance: none;
}

    .custom-select select::-ms-expand {
        display: none;
    }

.form-group label {
    font-family: 'mulilight';
    font-size: 15px;
    color: #5b5b5b;
    font-weight: normal;
    line-height: 30px;
}

.form-control:focus,
.has-success .form-control:focus,
.has-error .form-control:focus,
.has-success .form-control,
.has-error .form-control {
    box-shadow: none;
}

.form-control:focus {
    border-color: #f47920;
}

.form-control::-webkit-input-placeholder {
    color: #5b5b5b;
}

.form-control::-ms-input-placeholder {
    color: #5b5b5b;
}

.form-control::-moz-placeholder {
    color: #5b5b5b;
}

.checkbox label,
.radio label {
    padding-left: 0;
    margin-right: 10px;
}



footer {
    padding-top: 20px;
    font-size: 13px;
    color: #a6a8aa;
}


.checkbox {
    padding: 10px 0 15px;
}

.checkboxTerms {
    padding: 0px 0 15px;
    margin-top: 15px;
}

.checkbox label:after,
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border-radius: .25em;
    width: 22px;
    height: 22px;
    float: left;
    margin-right: .5em;
    background: #ffffff;
    border: 3px solid #939598;
    margin-top: 4px;
}

.checkbox label input[type="checkbox"]:checked + .cr, .radio label input[type="radio"]:checked + .cr {
    background: #f47920;
    border-color: #f47920;
}

.radio .cr {
    border-radius: 50%;
}

    .checkbox .cr .cr-icon,
    .radio .cr .cr-icon {
        position: absolute;
        font-size: 12px;
        top: 14%;
        left: 18%;
        color: #FFF;
    }

    .radio .cr .cr-icon {
        margin-left: 0.04em;
    }

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

    .checkbox label input[type="checkbox"] + .cr > .cr-icon,
    .radio label input[type="radio"] + .cr > .cr-icon {
        transform: scale(3) rotateZ(-20deg);
        opacity: 0;
        transition: all .3s ease-in;
    }

    .checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
    .radio label input[type="radio"]:checked + .cr > .cr-icon {
        transform: scale(1) rotateZ(0deg);
        opacity: 1;
    }

    .checkbox label input[type="checkbox"]:disabled + .cr,
    .radio label input[type="radio"]:disabled + .cr {
        opacity: .5;
    }

/** New shipment **/
header {
    float: left;
    width: 100%;
    background: #fff;
    padding: 20px 0 15px;
    border-bottom: 1px solid #bfbfbf;
    position: fixed;
    z-index: 999;
}

    header .logo {
        float: left;
        padding-left: 30px;
    }

nav {
    padding-right: 37px;
}

.navbar-right {
    margin-right: 0;
}

nav figure {
    float: left;
}

    nav figure img {
        width: 42px;
        height: 40px;
    }

.nav > li > a:focus, .nav > li > a:hover {
    background-color: transparent;
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: transparent;
}

.navbar-nav > li > a {
    font: 16px 'muliregular';
    color: #208ef4;
    padding-top: 11px;
}

.caret {
    border-top: 5px dashed;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    padding-bottom: 3px;
}

.navbar-nav > li > .dropdown-menu {
    border-color: #d7d7d7;
    padding: 0;
    text-align: center;
    box-shadow: none;
    margin-top: 5px;
}

    .navbar-nav > li > .dropdown-menu li {
        position: relative;
    }

        .navbar-nav > li > .dropdown-menu li:before {
            background: url("../images/caret-icon.jpg") no-repeat 0 0;
            right: 9px;
            width: 20px;
            height: 10px;
            top: -8px;
            position: absolute;
            content: "";
        }

        .navbar-nav > li > .dropdown-menu li a {
            font: 16px 'muliregular';
            color: #208ef4;
            padding: 16px 0 10px;
        }

            .navbar-nav > li > .dropdown-menu li a img {
                padding-bottom: 6px;
                padding-right: 15px;
            }

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    background-color: transparent;
}

.left-sxn {
    padding: 109px 30px 20px 30px;
    background: #f4f4f4;
    height: 100%;
    position: fixed;
    height: 100%;
    z-index: 99;
    width: 300px;
}

    .left-sxn ul {
        list-style-type: none;
    }

        .left-sxn ul li {
            margin-bottom: 3px;
        }

            .left-sxn ul li:hover a, .left-sxn ul li:focus a, .left-sxn ul li.active a {
                background: #f47920;
                transition: background .2s ease-in-out;
            }

            .left-sxn ul li a {
                font: 18px 'mulibold';
                color: #fff;
                background: #939598;
                width: 100%;
                display: block;
                height: 55px;
                display: table;
                text-decoration: none;
                text-align: center;
                border-radius: 2px;
            }

                .left-sxn ul li a span {
                    display: table-cell;
                    vertical-align: middle;
                }

.company-info {
    background: #fcfcfc;
    font: 12px 'muliregular';
    color: #939598;
    padding: 15px;
    margin-top: 0;
    margin-bottom: 25px;
    position: absolute;
    bottom: 83px;
    margin: 0px 15px;
    left: 0;
}

    .company-info span {
        padding-right: 124px;
        line-height: 18px;
        margin-top: 14px;
        display: block;
    }

    .company-info p {
        font-family: 'mulibold';
        margin: 0;
        font-size: 15px;
    }

    .company-info a {
        color: #208ef4;
        display: block;
        margin-top: 5px;
        margin-bottom: 5px;
        text-decoration: none;
    }

    .company-info hr {
        margin-top: 10px;
        margin-bottom: 10px;
        border-color: #ededed;
    }
/*.detail-sxn{background: #fff;height: 100%; position: relative; padding-left:358px; padding-top: 79px;}*/
.detail-sxn {
    background: #fff;
    height: auto;
    position: relative;
    padding-left: 300px;
    padding-top: 79px;
    margin-bottom: 130px;
}

    .detail-sxn h1 {
        font-family: 'mulisemibold';
        display: inline-block;
    }

.back-link {
    float: right;
    color: #208ef4;
    font: 16px 'mulisemibold';
    text-decoration: none;
    margin-top: 7px;
    cursor: pointer;
}

    .back-link img {
        display: inline-block;
        position: relative;
        top: -3px;
        margin-right: 4px;
    }

.powered-by {
    position: absolute;
    bottom: 40px;
    left: 50%;
    margin-left: -100px;
}
/*Form Wizard*/
.bs-wizard {
    padding: 23px 0 10px 0;
    width: 100%;
    float: left;
    background: #fbfbfb;
}

    .bs-wizard > .bs-wizard-step {
        padding: 0;
        position: relative;
    }

        .bs-wizard > .bs-wizard-step + .bs-wizard-step {
        }

        .bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
            margin-bottom: 5px;
            font: 14px 'muliregular';
            color: #333333;
        }

        .bs-wizard > .bs-wizard-step .bs-wizard-info {
            color: #999;
            font-size: 14px;
        }

        .bs-wizard > .bs-wizard-step > .bs-wizard-dot {
            position: absolute;
            width: 52px;
            height: 52px;
            display: block;
            background: #fff;
            top: 35px;
            left: 50%;
            margin-top: -15px;
            margin-left: -27px;
            border-radius: 50%;
            line-height: 52px;
            text-align: center;
        }

        /*.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 43px; height: 43px; ; border-radius: 50px; position: absolute; top: 4px; left: 5px; background-color: #fff; background-repeat: no-repeat;
background-position: center center;} */
        .bs-wizard > .bs-wizard-step > .progress {
            position: relative;
            border-radius: 0px;
            height: 10px;
            box-shadow: none;
            margin: 26px 0;
        }

            .bs-wizard > .bs-wizard-step > .progress > .progress-bar {
                width: 0px;
                box-shadow: none;
                background: #f47920;
                position: relative;
            }

        .bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {
            width: 100%;
        }

        .bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {
            width: 50%;
        }

        .bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {
            width: 0%;
        }

        .bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {
            width: 100%;
        }

        .bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {
            background-color: #f5f5f5;
        }
        /*.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}*/
        .bs-wizard > .bs-wizard-step:first-child > .progress {
            left: 50%;
            width: 50%;
        }

        .bs-wizard > .bs-wizard-step:last-child > .progress {
            width: 50%;
        }

        .bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot {
            pointer-events: none;
        }
        /*END Form Wizard*/
        .bs-wizard > .bs-wizard-step.active > .bs-wizard-dot, .bs-wizard > .bs-wizard-step.complete > .bs-wizard-dot {
            background-color: #f47920;
        }

            .bs-wizard > .bs-wizard-step.active > .bs-wizard-dot path, .bs-wizard > .bs-wizard-step.complete > .bs-wizard-dot path {
                fill: #fff;
            }

        .bs-wizard > .bs-wizard-step:first-child > .bs-wizard-dot:after {
            background-image: url("../images/product-shipping-details-bg.png");
        }

        .bs-wizard > .bs-wizard-step:nth-child(2) > .bs-wizard-dot::after {
            background-image: url("../images/product-dimension-icon.png");
        }

        .bs-wizard > .bs-wizard-step:nth-child(3) > .bs-wizard-dot::after {
            background-image: url("../images/select-carrier.png");
        }

        .bs-wizard > .bs-wizard-step:last-child > .bs-wizard-dot::after {
            background-image: url("../images/print-label.png");
        }

        .bs-wizard > .bs-wizard-step > .progress::before {
            background: #fff;
            position: absolute;
            content: "";
            width: 100%;
            height: 2px;
            top: 4px;
        }

.detail-sxn h2 {
    color: #333333;
    font: 18px 'muliblack';
}

.copy-right {
    color: #555555;
    font: 12px 'mulilight';
    position: absolute;
    bottom: 25px;
    right: 33px;
}

.phone-prefix {
    width: 20%;
    float: left;
}

.phone-number {
    width: 70%;
    margin-left: 10%;
    display: inline-block;
}

.half-width {
    display: inline-block;
    width: 60%;
    position: relative;
}

.country-code {
    width: 30%;
    margin-left: 9%;
    display: inline-block;
}

.input-group-addon {
    display: none;
}

.date.clock-icon {
    background: url("../images/date-picker-icon.png") no-repeat right 26px;
    padding-right: 29px;
}

.form-group label p {
    float: left;
    width: 80%;
}

.submi-btn {
    padding: 0 17px;
    height: 46px;
    font: 18px 'mulibold';
    color: #fff;
    background: #f47920;
    line-height: 46px;
}

    .submi-btn:hover, .submi-btn:focus {
        color: #fff;
        box-shadow: none;
    }

.cancel-btn {
    padding: 0 17px;
    height: 46px;
    font: 18px 'mulibold';
    color: #fff;
    background: #939598;
    line-height: 46px;
}

    .cancel-btn:hover, .cancel-btn:focus {
        color: #fff;
        box-shadow: none;
    }

textarea.form-control {
    resize: none;
    padding-top: 15px;
}

.footer-listing {
    list-style-type: none;
    margin-top: 56px;
    margin-top: 20px;
    margin-bottom: 22px;
}

    .footer-listing li {
        display: inline-block;
    }

        .footer-listing li a {
            text-decoration: none;
            color: #555555;
            font: 12px 'mulilight';
            padding-left: 6px;
            padding-right: 7px;
            border-right: 1px solid #bbbbbb;
        }

        .footer-listing li:last-child a {
            border-right: none;
        }

.sxn-wrapper {
    height: 100%;
    width: 100%;
}

.sxn-content {
    height: 100%;
}

.language-select .custom-select {
    width: 125px;
    position: relative;
}

.language-select label {
    margin: 15px 17px 0 0;
    color: #5b5b5b;
    font-weight: normal;
}

.language-select {
    margin-right: 30px;
}

.con-padding {
    width: 100%;
    float: left;
    padding: 0 35px 90px 35px;
    position: relative;
}

.shipmant-heading {
    width: 100%;
    float: left;
    padding-top: 29px;
    padding-bottom: 29px;
    border-bottom: 1px solid #dfdfdf;
}

    .shipmant-heading h1 {
        margin: 0;
    }

.additional-info {
    width: 100%;
    float: left;
    background: #fbfbfb;
    padding: 0 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer-links {
    width: 100%;
    float: left;
    background: #fbfbfb;
    margin-top: 20px;
    padding: 0px 35px 0px 35px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 9;
}

.radio-circle {
    width: 10px;
    height: 10px;
    background: #fff;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    margin-left: -5px;
    margin-top: -5px;
}

.form-group.radio label p {
    width: auto;
    margin-top: 3px;
}

.radio label {
    margin-right: 10px;
}

.radio > p {
    margin-bottom: 0;
}

.form-group.checkbox label p {
    width: auto;
    float: none;
    padding-left: 29px;
}

.custom-select {
    position: relative;
}

.date-slot {
    width: 19%;
    margin-left: 1%;
}

    .date-slot .custom-select:after {
        right: 0px;
    }

/*Product Dimensions*/
.product-img {
    position: absolute;
    top: 32px;
    left: 17px;
    background: white;
}

    .product-img img {
        width: 150px;
        height: 135px;
    }

.product-name {
    background: #f4f4f4;
    width: 100%;
    /*max-width: 450px;*/
    height: 140px;
    padding: 45px 19px 0 139px
}

    .product-name p {
        color: #333333;
        font-size: 16px;
        font-family: 'mulisemibold';
    }

        .product-name p span {
            color: #f47920;
        }

    .product-name a {
        background: #f47920;
        color: #fff;
        padding: 10px;
        border-radius: 3px;
        margin-top: 6px;
        display: inline-block;
        text-decoration: none;
    }

.product-info {
    padding: 0;
    margin-top: 11px;
    float: left;
    width: 100%;
}

.bottom-buttons .submi-btn {
    margin-left: 10px;
}

.carrier-info {
    display: flex;
    border: 1px solid #f4f4f4;
    margin-top: 40px;
}

.carrier-img {
    width: 100px;
    background: #f4f4f4;
    text-align: center;
    padding-top: 20px; /*flex-grow:0;*/
    flex-shrink: 0;
}

/*.carrier-detail {
    flex-grow: 1;
}*/

.carrier-table {
    display: table;
    width: 100%;
}

.carrier-row {
    display: table-row;
}

.carrier-cell {
    display: table-cell;
    width: 50%;
    padding: 4px 30px;
}

.carrier-row:last-child .carrier-cell {
    background: #f4f4f4;
    color: #333333;
    font-size: 15px;
    font-family: 'mulibold';
    padding: 15px 30px;
}

.carrier-cell:nth-child(2) {
    text-align: right;
}

.buy-service, .buy-service:focus, .buy-service:hover {
    background: #f47920;
    color: #fff;
    width: 148px;
    height: 32px;
    text-align: center;
    padding-top: 6px;
    border-radius: 3px;
    margin: 20px 20px 20px 0;
    text-decoration: none !important;
}
/*.carrier-heading{color:#333333; font-size:20px; font-family: 'mulibold'; margin-top:18px; padding: 4px 30px;}*/
.carrier-heading {
    color: #333333;
    font-size: 20px;
    font-family: 'mulibold';
    margin-top: 18px;
    margin-left: 30px;
    width: 80%;
    height: 28px;
}

.delivery-time {
    float: left;
    padding: 0 9px;
    height: 33px;
    color: #333333;
    font-size: 12px;
    border: 1px solid #939598;
    text-align: center;
    line-height: 33px;
    margin-left: 30px;
    border-radius: 2px;
}
/*Product Dimensions*/

/*Saved Addresses*/
.address-head {
    background: #f2f2f2;
    padding: 8px 65px 8px 29px;
    position: relative;
}

.customer-name {
    font-size: 20px;
    font-family: 'mulibold';
}

.address-head p {
    margin: 0;
}

.address-body {
    background: #f9f9f9;
    padding: 23px 27px;
}

    .address-body p {
        position: relative;
        padding-left: 26px;
        line-height: 30px;
    }

        .address-body p img {
            position: absolute;
            left: 0;
            top: 6px;
        }

.address-icons {
    position: absolute;
    right: 24px;
    top: 16px;
}

    .address-icons a {
        margin-left: 5px;
    }

.address-con {
    margin-top: 30px;
}

.add-new-address {
    background: #f47920;
    color: #fff;
    width: 140px;
    height: 50px;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
    font-family: 'mulibold';
}

    .add-new-address span {
        background: #db610b;
        width: 50px;
        height: 50px;
        float: left;
        font-size: 33px;
        text-align: center;
    }

.upload-icon {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    display: inline-block;
    background: #f47920;
    line-height: 80px;
    border: 8px solid #f4f4f4;
}

.upload-content {
    width: 100%;
    float: left;
    background: #fbfbfb;
    padding: 20px 0 56px 0;
    position: relative;
    margin-bottom: 35px;
}

.or-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    border: 1px solid #e0e0e0;
    text-align: center;
    line-height: 60px;
    bottom: -25px;
    left: 50%;
    margin-left: -30px;
}

.sample-scv {
    width: 180px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #fff;
    border: 1px solid #e0e0e0;
    position: absolute;
    float: left;
    right: 46px;
    top: 20px;
    color: #333333;
}

    .sample-scv:hover, .sample-scv:focus {
        text-decoration: none;
        color: #333333;
    }
/*Saved Addresses*/
/*My Shipments*/
.shipment-table {
    width: 100%;
}

    .shipment-table .form-group {
        max-width: 90px;
        margin: 0;
    }

        .shipment-table .form-group .form-control {
            margin: 0;
            padding: 0;
            height: 28px;
        }

    .shipment-table th {
        background: #f4f4f4;
        padding: 26px 10px;
    }

    .shipment-table td {
        padding: 26px 10px;
        background: #fcfcfc;
    }
/*My Shipments*/
/*Dashboard*/
.days-con {
    background: #000000;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
}

.squre-round {
    width: 12px;
    height: 12px;
    background: #2195f2;
    display: inline-block;
    margin-right: 6px;
}

    .squre-round.brown {
        background: #503629;
    }

.order-text {
    font-size: 20px;
    margin-top: 10px;
}

.chart-bottom-info {
    border: 1px solid #d6d6d6;
    padding: 10px; /*margin-top:50px;*/
    border-bottom: 0;
}

.chart-con:last-child {
    border-bottom: 1px solid #d6d6d6;
}

.chart-count {
    background: #777777;
    padding: 0px 5px;
    border-radius: 7px;
    text-align: center;
    color: #fff;
}

.chart-con {
    margin-top: 25px;
}


.onoffswitch {
    position: relative;
    width: 90px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    margin-top: 10px;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #c9c9c9;
    border-radius: 20px;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

    .onoffswitch-inner:before, .onoffswitch-inner:after {
        display: block;
        float: left;
        width: 50%;
        height: 30px;
        padding: 0;
        line-height: 30px;
        font-size: 14px;
        color: white;
        font-family: Trebuchet, Arial, sans-serif;
        font-weight: bold;
        box-sizing: border-box;
    }

    .onoffswitch-inner:before {
        content: "English";
        padding-left: 10px;
        background-color: #f47920;
        color: #FFFFFF;
    }

    .onoffswitch-inner:after {
        content: "French";
        padding-right: 10px;
        background-color: #EEEEEE;
        color: #999999;
        text-align: right;
    }

.onoffswitch-switch {
    display: block;
    width: 18px;
    margin: 6px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 56px;
    border: 2px solid #999999;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
    height: 20px;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}
/*Dashboard*/



/*Popup CSS*/
.shipment-overview {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    float: left;
    position: absolute;
    height: 100%;
    z-index: 999;
    top: 60px;
    left: 0px;
    padding: 20px 0px 0px 0px;
    display: none;
}

.shipment-frame {
    background-color: #fff;
    width: 1070px;
    float: left;
    position: relative;
    left: 50%;
    margin: 0px 0px 0px -535px;
    padding: 25px 30px 22px 30px;
    border: 1px #eaeaea solid;
}

    .shipment-frame h3 {
        width: 100%;
        float: left;
        color: #333333;
        font-size: 20px;
        font-family: 'mulibold';
        border-bottom: 1px #4d4d4d solid;
        text-align: center;
        margin: 0px 0px 17px 0px;
    }

    .shipment-frame ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }

    .shipment-frame li {
        width: auto;
        float: left;
        border-left: 4px #f7f7f7 solid;
        width: 250px;
    }

        .shipment-frame li h4 {
            background-color: #fff;
            margin: 0px 0px 0px -4px;
            position: absolute;
            padding: 0px 0px 15px 0px;
            font-family: 'mulibold';
            font-size: 15px;
            color: #333333;
        }

            .shipment-frame li h4 a {
                background-color: #f47920;
                padding: 5px 5px 2px 5px;
                font-size: 13px;
                color: #fff;
                border-radius: 3px;
            }

        .shipment-frame li p {
            font-family: 'mulibold';
            font-size: 15px;
            color: #cac9c2;
            /*margin: 40px 0px 0px 0px;*/
            margin: 0px;
            padding: 0px 18px 0px 18px;
            line-height: 26px;
        }

            .shipment-frame li p:nth-child(2) {
                margin-top: 40px;
            }

.buy-frame {
    width: 100%;
    float: left;
    margin: 40px 0px 0px 0px;
}

    .buy-frame .buy-service {
        margin: 20px 20px 0px 0px;
    }

.close-btn {
    position: absolute;
    top: 20px;
    right: 10px;
}

    .close-btn a {
        padding: 8px;
    }


.thankyou-frame {
    display: none;
    width: 100%;
    float: left;
    position: absolute;
    left: 0px;
    z-index: 999;
    padding: 20px 0px 0px 0px;
    text-align: center;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.thankyou-container {
    background-color: #fff;
    width: 450px;
    float: left;
    position: relative;
    padding: 25px 30px 22px 30px;
    border: 1px #eaeaea solid;
    left: 50%;
    margin: 0px 0px 0px -225px;
}

    .thankyou-container h3 {
        width: 100%;
        float: left;
        font-family: 'muliblack';
        font-size: 18px;
        color: #333333;
        margin-bottom: 20px;
    }

    .thankyou-container p {
        font-family: 'mulilight';
        font-size: 16px;
        color: #262121;
    }

.view-label {
    width: 180px;
    float: left;
    position: relative;
    left: 50%;
    margin: 15px 0px 0px -90px;
}

    .view-label a {
        background-color: #f47920;
        width: 180px;
        height: 40px;
        float: left;
        font-family: 'mulilight';
        font-size: 16px;
        color: #fff;
        text-align: center;
        line-height: 40px;
        border-radius: 3px;
        text-decoration: none !important;
    }

.close-btnb {
    position: absolute;
    top: 5px;
    right: 20px;
}

    .close-btnb a {
        padding: 8px;
    }

.image-upload > input {
    display: none;
}

.image-upload img {
    cursor: pointer;
}

.product-overview {
    width: 100%;
    float: left;
}

    .product-overview .shipment-frame {
        width: 100%;
        float: left;
        position: inherit;
        left: inherit;
        margin: 35px 0px 20px 0px;
    }

        .product-overview .shipment-frame li {
            width: 33%;
            min-height: 170px;
        }



/*Popup CSS*/
.table-wrapper {
    width: 100%;
    float: left;
    position: relative;
}

.shipment-track-layout {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    float: left;
    position: absolute;
    height: 100vh;
    z-index: 999;
    top: 0px;
    left: 0px;
    padding: 100px 0px 0px 0px;
    display: none;
}

.track-inner-layout {
    background-color: #fff;
    width: 1070px;
    float: left;
    position: relative;
    left: 50%;
    margin: 0px 0px 0px -535px;
    padding: 50px 30px 22px 30px;
    border: 1px #eaeaea solid;
}

    .track-inner-layout h3 {
        width: 100%;
        float: left;
        color: #333333;
        font-size: 20px;
        font-family: 'mulibold';
        border-bottom: 1px #4d4d4d solid;
        text-align: left;
        margin: 0px 0px 10px 0px;
    }

    .track-inner-layout form {
        width: 100%;
        float: left;
    }

    .track-inner-layout fieldset {
        width: 100%;
        float: left;
        margin: 10px 0px 0px 0px;
    }

    .track-inner-layout label {
        font-size: 15px;
    }

    .track-inner-layout input {
        border: 0px;
        color: #454546;
        padding: 0px 25px 0px 25px;
    }

    .track-inner-layout .shipment-table {
        border: 1px #f0f0f0 solid;
    }

        .track-inner-layout .shipment-table th {
            padding: 20px 10px;
        }

        .track-inner-layout .shipment-table td {
            padding: 20px 10px;
            background: inherit;
        }

        .track-inner-layout .shipment-table tr:nth-child(even) {
            background-color: #fcfcfc;
        }

.confirmation-layout {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    float: left;
    position: fixed;
    height: 100vh;
    z-index: 999;
    top: 0px;
    left: 0px;
    padding: 0px;
    display: none;
}

.confirmation-inner-layout {
    background-color: #fff;
    width: 370px;
    float: left;
    position: relative;
    top: 50%;
    left: 50%;
    margin: -80px 0px 0px -185px;
    padding: 15px 15px 15px 15px;
    border: 1px #eaeaea solid;
}

    .confirmation-inner-layout h3, .confirmation-inner-layout p {
        width: 100%;
        float: left;
        font-size: 18px;
        color: #333333;
        text-align: center;
    }

    .confirmation-inner-layout h3 {
        margin-top: 0px;
    }

.confirm-button {
    background-color: #939598;
    width: 98px;
    height: 38px;
    float: left;
    margin: 0px 0px 0px 5px;
    border: 0px;
    border-radius: 3px;
    font-size: 16px;
    color: #fff;
}

    .confirm-button.active {
        background-color: #f47920;
    }

.confirmation-inner-layout .close-btn {
    top: 10px;
}

.layout-hide {
    overflow-y: hidden;
}

.minHeight100 {
    min-height: 100%;
}

.add-new-address:hover {
    color: #ffffff !important;
    text-decoration: none;
}

.carrier-shipment-overview {
    top: 0px;
    position: fixed;
}

.carrier-shipment-frame {
    top: 25%;
}

.carrier-thankyou-frame {
    top: 0px;
    position: fixed;
}

.carrier-thankyou-container {
    top: 40%;
}

.position-right-corner {
    position: fixed;
    top: 10px;
    right: 20px;
}

.margin-bottom-10 {
    margin-bottom: 20px;
}

.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.carrier-detail .col-sm-12 {
    margin: 5px 0px 0px 0px;
}

    .carrier-detail .col-sm-12:last-child {
        background-color: #f4f4f4;
        padding: 15px 15px;
    }

    .carrier-detail .col-sm-12 .col-sm-6:nth-child(2) {
        text-align: right;
    }

.track-inner-layout table {
    table-layout: fixed;
    margin: auto;
}

.track-inner-layout th, .track-inner-layout td {
    padding: 5px 10px;
}

.track-inner-layout thead {
    background: #f9f9f9;
    display: table;
    width: 100%;
    width: calc(100% - 18px);
}

.track-inner-layout tbody {
    height: 350px;
    overflow: auto;
    overflow-x: hidden;
    display: block;
    width: 100%;
}

    .track-inner-layout tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }

.loading {
    position: fixed;
    z-index: 99999999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.5;
    text-align: center;
}

.loader-image {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: auto;
    margin-top: auto;
}

.loader-text {
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    margin-top: -12px;
}

.clock-icon {
    cursor: pointer;
}

input::-ms-reveal {
    display: none;
}

select, .form-control {
    padding-left: 7px !important;
}



.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.info-tooltip {
    position: relative;
    display: inline-block;
}

    /*.info-tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        border: 1px solid #f47920;
        background-color: #FFF;
        color: #333;
        text-align: center;
        border-radius: 6px;
        padding: 0.2em 0.6em;
        position: absolute;
        z-index: 1;
        top: 1px;
        left: 130%;
        font-size: 12px;
    }*/

    .info-tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        border: 1px solid #FF0000;
        background-color: #FFF;
        color: #333;
        text-align: center;
        border-radius: 6px;
        padding: 0.2em 0.6em;
        position: absolute;
        z-index: 1;
        top: 150%;
        left: 50%;
        margin-left: -60px;
        font-size: 12px;
    }

        /*.info-tooltip .tooltiptext::after {
            content: "";
            position: absolute;
            top: 10px;
            right: 100%;
            margin-top: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent #f47920 transparent transparent;
        }*/

        .info-tooltip .tooltiptext::after {
            content: "";
            position: absolute;
            bottom: 100%;
            left: 25%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent #FF0000 transparent;
        }

    .info-tooltip:hover .tooltiptext {
        visibility: visible;
    }

.cancel-btn {
    padding: 0 17px;
    height: 46px;
    font: 18px 'mulibold';
    line-height: normal;
    color: #fff;
    background: #939598;
    line-height: 46px;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    pointer-events: none;
}

.search-input {
    border: 1px solid #ccc;
    height: 34px;
}

.carrier-sort {
    margin: 18px 20px 0 0;
    font-size: 15px;
    font-family: 'mulibold';
    color: #333333
}

@media (max-width: 1400px) {
    .shipment-table th {
        padding: 26px 10px;
    }

    .shipment-table td {
        padding: 26px 10px;
    }

    .shipment-table {
        font-size: 12px;
    }
}
