﻿@model Parcelrate.Models.AddressViewModel
@using ParcelrateUtilities
@{
    ViewData["Title"] = ParcelrateResources.Resources.Add_Address;
    ViewBag.CurrentPage = "Addresses";
}
<div class="con-padding shipmant-heading">
    <div class="col-md-12">
        <h1>@ParcelrateResources.Resources.Add_Address</h1>
        <a onclick="getHasChanges();" class="back-link"><img src="~/images/back-btn.png" alt="back-link" />@ParcelrateResources.Resources.Back</a>
    </div>
</div>
<div class="upload-content text-center">
    <div class="image-upload">
        <label for="file-input">
            <div class="upload-icon" style="cursor:pointer;" onclick="SelectFile();">
                <img src="~/images/upload-icon.png" alt="Upload Icon" title="@ParcelrateResources.Resources.Upload_CSV_File">
            </div>
        </label>
        <div id="divUpload" style="display:none;">
            <input type="file" accept=".csv" name="files" id="files" />
        </div>
    </div>
    <div class="or-circle">@ParcelrateResources.Resources.Or</div>
    <a href="javascript:void(0);" title="@ParcelrateResources.Resources.Download_Sample_CSV" class="sample-scv" onclick="downloadSampleCSV();">@ParcelrateResources.Resources.Download_Sample_CSV</a>
</div>
<div class="con-padding minHeight100">
    <form method="post" asp-controller="Address" asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-12">
                                <input class="form-control" tabindex="1" type="text" maxlength="50" placeholder="@ParcelrateResources.Resources.Customer_ID*" asp-for="CustomerID">
                            </div>
                            <div class="col-md-12">
                                <span asp-validation-for="CustomerID" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group custom-select">
                                                <select class="form-control" tabindex="7" id="ddlCountry" asp-for="CountryId" asp-items="@(new SelectList(ViewBag.CountryList,"ID","Name"))" onchange="return getCountryData(this);">
                                                    <option disabled selected>@ParcelrateResources.Resources.Select</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <span asp-validation-for="CountryId" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <input id="txtCountryCode" class="form-control" type="text" placeholder="@ParcelrateResources.Resources.Country_Code" asp-for="CountryCode" disabled />
                                        <input type="hidden" id="CountryCode" asp-for="CountryCode" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input class="form-control" tabindex="2" type="text" maxlength="50" placeholder="@ParcelrateResources.Resources.Company" asp-for="Company" />
                        <span asp-validation-for="Company" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input class="form-control" tabindex="8" type="text" maxlength="10" placeholder="@ParcelrateResources.Resources.Postal_Code*" asp-for="PostalCode" />
                        <span asp-validation-for="PostalCode" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input class="form-control" tabindex="3" type="text" maxlength="50" placeholder="@ParcelrateResources.Resources.First_Name" asp-for="FirstName" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input class="form-control" tabindex="9" type="text" maxlength="50" placeholder="@ParcelrateResources.Resources.City*" asp-for="City" />
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                <input class="form-control" tabindex="4" type="text" maxlength="50" placeholder="@ParcelrateResources.Resources.Last_Name*" asp-for="LastName" />
                            </div>
                            <div class="col-md-12">
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-12">
                                <input id="txtPhonePrefix" class="form-control phone-prefix" type="text" placeholder="@ParcelrateResources.Resources.Phone_Prefix" asp-for="PhonePrefix" disabled />
                                <input class="form-control phone-number" tabindex="10" type="text" maxlength="15" placeholder="@ParcelrateResources.Resources.Phone_Number*" asp-for="PhoneNo" />
                                <input type="hidden" id="PhonePrefix" asp-for="PhonePrefix" />
                            </div>
                            <div class="col-md-12">
                                <div style="margin-left: 30%;">
                                    <span asp-validation-for="PhoneNo" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input class="form-control" tabindex="5" type="text" maxlength="200" placeholder="@ParcelrateResources.Resources.Street*" asp-for="Address1" />
                        <span asp-validation-for="Address1" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input class="form-control" tabindex="11" type="text" maxlength="50" placeholder="@ParcelrateResources.Resources.Email*" asp-for="Email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input class="form-control" tabindex="6" type="text" maxlength="7" placeholder="@ParcelrateResources.Resources.House_Number*" asp-for="Address2" />
                        <span asp-validation-for="Address2" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @if (Model.IsDefault)
                        {
                            <div class="checkbox">
                                <label>
                                    @Html.CheckBoxFor(m => m.IsPickupOrder, new { title = ParcelrateResources.Resources.Pickup_Order })
                                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>@ParcelrateResources.Resources.Pickup_Order
                                </label>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">

                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="pull-right">
                            <input class="btn submi-btn" tabindex="12" type="submit" name="submit-login" value="@ParcelrateResources.Resources.Save" title="@ParcelrateResources.Resources.Save" />&nbsp;
                            <a class="btn cancel-btn" tabindex="13" href="~/Address/Index" title="@ParcelrateResources.Resources.Cancel">@ParcelrateResources.Resources.Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="con-padding footer-links">
    <ul class="footer-listing pull-right">
        <li>
            <a>Copyright &copy; Parcel Kiosk Limited</a>
        </li>
    </ul>
</div>

@section scripts {
    <script>
        $(function () {
            $(".left-sxn ul li a").click(function () {
                getHasChanges($(this).attr("href"));
                return false;
            });
            $("#aLogOut").click(function () {
                getHasChanges($(this).attr("href"));
                return false;
            });
            if ('@ViewBag.IsSuccess') {
                ShowAddressMessagePopup('@ParcelrateResources.Resources.Address_Saved');
            }
             else if ('@ViewBag.ErrorMessage' != '')
                showMessagePopup('@Html.Raw(ViewBag.ErrorMessage)');
        });
    </script>
}
