﻿@using ReflectionIT.Mvc.Paging
@model PagingList<ParcelrateEntities.Models.Address>
@using ParcelrateUtilities

@addTagHelper *, ReflectionIT.Mvc.Paging

@{
    ViewData["Title"] = ParcelrateResources.Resources.Addresses;
    ViewBag.CurrentPage = "Addresses";
}
<div class="con-padding shipmant-heading">
    <div class="col-md-12">
        <h1>@ParcelrateResources.Resources.Saved_Addresses</h1>
        <a asp-action="Create" class="pull-right add-new-address"><span>+</span> @ParcelrateResources.Resources.New</a>
    </div>
</div>

<div class="con-padding minHeight100">
    <div class="col-md-12">
        <div class="row" style="margin-top:10px;">
            <div class="col-md-4 pull-right">
                <form method="get">
                    <div class="input-group">
                        <input class="form-control search-input" id="filter" type="text" name="filter" maxlength="50" placeholder="@ParcelrateResources.Resources.Search_By_Name" value="@Model.RouteValue[Constants.Filter]" /> @*onkeyup="searchAddress();"*@
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit" title="@ParcelrateResources.Resources.Search">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            @if (Model != null && Model.Count > 0)
            {
                @foreach (var item in Model)
                {

                    <div class="col-lg-6">
                        <div class="address-con">
                            <div class="address-head">
                                @if (item.IsDefault)
                                {
                                    <p class="ellipsis">@ParcelrateResources.Resources.Default_Address (@(item.IsPickupOrder ? ParcelrateResources.Resources.Pickup_Ordered : ParcelrateResources.Resources.Autopickup))</p>
                                }
                                else
                                {
                                    <p class="ellipsis" title="@item.CustomerId">@ParcelrateResources.Resources.Customer_ID: @item.CustomerId</p>
                                }
                                <p class="customer-name ellipsis" title="@item.FirstName&nbsp;@item.LastName">@item.FirstName&nbsp;@item.LastName</p>
                                <div class="address-icons">
                                    <a asp-action="Edit" asp-route-id="@item.Id"><img src="~/images/edit-icon.png" title="@ParcelrateResources.Resources.Edit" alt="@ParcelrateResources.Resources.Edit"></a>
                                    <a href="javascript:void(0);" onclick="openDeletePopup(@item.Id)"><img src="~/images/delete-icon.png" title="@ParcelrateResources.Resources.Delete" alt="@ParcelrateResources.Resources.Delete"></a>
                                </div>
                            </div>
                            <div class="address-body">
                                <p class="ellipsis" title="@item.Address1,&nbsp;@item.Address2">
                                    <img src="~/images/adress-icon.png" alt="Address"> @item.Address1,&nbsp;@item.Address2,<br>
                                    @item.City,&nbsp;@item.PostalCode<br>
                                    @item.Country?.Name&nbsp;@item.Country?.Code
                                </p>
                                <p class="ellipsis" title="@item.FirstName&nbsp;@item.LastName"><img src="~/images/user-icon.png" alt="User">@item.FirstName&nbsp;@item.LastName</p>
                                <p><img src="~/images/phone-icon.png" alt="User"> +@item.PhonePrefix&nbsp;@item.PhoneNumber</p>
                                <p class="ellipsis"><img src="~/images/mail-icon.png" alt="User"> <a href="mailto:@item.Email" title="@item.Email">@item.Email</a></p>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="col-lg-12">
                    <div class="address-head" style="min-height: 70px;margin-top: 50px;">
                        <p style="font-size: 20px;font-weight: bold;text-align: center;padding-left: 0px;margin-top: 15px;color: #bdb8b8;font-family: 'mulilight';">@ParcelrateResources.Resources.No_Records_Found</p>
                    </div>
                </div>
            }

        </div>
        <div class="clearfix"></div>
    </div>
    <nav aria-label="Addresses" class="pull-right">
        <vc:pager paging-list="@Model" />
    </nav>

    <div class="con-padding footer-links">
        <ul class="footer-listing pull-right">
            <li>
                <a>Copyright &copy; Parcel Kiosk Limited</a>
            </li>
        </ul>
    </div>


</div>

<div class="confirmation-layout" id="divDeletePopup">
    <div class="confirmation-inner-layout">
        <h3>@ParcelrateResources.Resources.Confirmation</h3>
        <p>@ParcelrateResources.Resources.Delete_Confirmation_Message</p>
        <div class="pull-right">
            <button class="confirm-button active" type="button" onclick="deleteAddress();">@ParcelrateResources.Resources.Yes</button>
            <button class="confirm-button" type="button" onclick="closeDeletePopup();">@ParcelrateResources.Resources.No</button>
        </div>
        <div class="close-btn"><a href="javascript:void(0);" title="@ParcelrateResources.Resources.Close" onclick="closeDeletePopup();"><img src="~/images/close.png" alt="@ParcelrateResources.Resources.Close"></a></div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">


        var selectedAddressId = 0;
        function openDeletePopup(id) {
            selectedAddressId = id;
            $("#divDeletePopup").slideDown();
            $("body").addClass('layout-hide');
        }

        function closeDeletePopup() {
            selectedAddressId = 0;
            $("#divDeletePopup").slideUp();
            $("body").removeClass('layout-hide');
        }

        function deleteAddress() {
            showLoader();
            $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Delete")',
                    dataType: 'json',
                    data: { id: selectedAddressId },
                    async: false,
                    success: function (response) {
                        if (response) {
                            closeDeletePopup();
                            setTimeout(function () {
                                if (response.isSuccess) {
                                    ShowAddressMessagePopup(response.message);
                                }
                                else
                                    showMessagePopup(response.error);
                            }, 500);
                        }
                    },
                    error: function (ex) {
                        closeDeletePopup();
                        showMessagePopup('@Html.Raw(ParcelrateResources.Resources.ErrorMessage)');
                    }
            });
            hideLoader();
        }

        function searchAddress() {
            var searchString = $("#filter").val();
            window.location.href = '/Address?filter=' + searchString +'&page=@Model.RouteValue["page"]'
        }
    </script>
}