﻿@using ParcelrateEntities

@{
    ViewData["Title"] = ParcelrateResources.Resources.Dashboard;
    ViewBag.CurrentPage = "Dashboard";
}
<div class="con-padding shipmant-heading">
    <div class="col-md-12">
        <h1>@ParcelrateResources.Resources.Dashboard</h1>
    </div>
</div>

<div class="con-padding minHeight100">
    <div class="col-md-12">

        <div class="row">
            <div class="col-xs-4">
                <div class="chart-con">
                    <p class="text-center">
                        <span class="days-con">@ParcelrateResources.Resources.Last_7_Days</span>
                    </p>
                    <p class="text-center">@ParcelrateResources.Resources.Orders_Per_Carrier</p>
                    <div id="downloadOrdersByCarrier"><a asp-action="DownloadShipmentListOrdersByCarrier" style="margin: 13px 20px 0 0;" class="back-link"><img src="~/images/excel-icon.png" title="@ParcelrateResources.Resources.Download_Excel"></a></div>
                    <div class="pie-chart text-center margin-bottom-10" id="divOrdersByCarrier">
                        <canvas id="OrdersByCarrier"></canvas>
                    </div>
                    @foreach (var item in (List<ChartEntity>)ViewData["OrdersByCarrierLabels"])
                    {
                        <div class="chart-bottom-info"><div style="width: 20px;height: 20px;float: left;margin-right: 5px;border: 1px solid #ccc;"><div style="width:14px;height:14px;margin: 2px;background-color:@item.Color;"></div></div> @item.Key <span class="chart-count pull-right">@item.Value</span></div>
                    }
                </div>
            </div>
            <div class="col-xs-4">
                <div class="chart-con">
                    <p class="text-center">
                        <span class="days-con">@ParcelrateResources.Resources.Last_7_Days</span>
                    </p>
                    <p class="text-center">@ParcelrateResources.Resources.Spend_By_Carrier</p>
                    <div id="downloadPriceByCarrier"><a asp-action="DownloadShipmentListPriceByCarrier" style="margin: 13px 20px 0 0;" class="back-link"><img src="~/images/excel-icon.png" title="@ParcelrateResources.Resources.Download_Excel"></a></div>
                    <div class="pie-chart text-center margin-bottom-10" id="divShipmentsPriceByCarrier">
                        <canvas id="ShipmentsPriceByCarrier"></canvas>
                    </div>
                    @foreach (var item in (List<ChartEntity>)ViewData["SpendByCarrierLabels"])
    {
                <div class="chart-bottom-info"><div style="width: 20px;height: 20px;float: left;margin-right: 5px;border: 1px solid #ccc;"><div style="width:14px;height:14px;margin: 2px;background-color:@item.Color;"></div></div> @item.Key <span class="chart-count pull-right">@item.Value</span></div>
}
                </div>
            </div>
            <div class="col-xs-4">
                <div class="chart-con">
                    <p class="text-center">
                        <span class="days-con">@ParcelrateResources.Resources.Last_7_Days</span>
                    </p>
                    <p class="text-center">@ParcelrateResources.Resources.Spend_By_Country</p>
                    <div id="downloadPriceByCountry"><a asp-action="DownloadShipmentListPriceByCountry" style="margin: 13px 20px 0 0;" class="back-link"><img src="~/images/excel-icon.png" title="@ParcelrateResources.Resources.Download_Excel"></a></div>
                    <div class="pie-chart text-center margin-bottom-10" id="divShipmentsPriceByCountry">
                        <canvas id="ShipmentsPriceByCountry"></canvas>
                    </div>
                    @foreach (var item in (List<ChartEntity>)ViewData["SpendByCountryLabels"])
    {
                <div class="chart-bottom-info"><div style="width: 20px;height: 20px;float: left;margin-right: 5px;border: 1px solid #ccc;"><div style="width:14px;height:14px;margin: 2px;background-color:@item.Color;"></div></div> @item.Key <span class="chart-count pull-right">@item.Value</span></div>
}
                </div>
            </div>
            <div class="col-xs-12 col-md-12 col-xs-12" style="margin-top:15px;">
                <div class="col-md-12">
                    <div class="chart-con" style="border-bottom:0">
                        <p class="text-center">@ParcelrateResources.Resources.Cargo_Sent_Over_365Days</p>
                        <div id="downloadShipmentListOverYear"><a asp-action="DownloadShipmentListOverYear" style="margin: 13px 20px 0 0;" class="back-link"><img src="~/images/excel-icon.png" title="@ParcelrateResources.Resources.Download_Excel"></a></div>
                        <div class="pie-chart text-center" id="divShipmentsOverOneYear">
                            <canvas id="ShipmentsOverOneYear"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>
    </div>
    <div class="con-padding footer-links">
        <ul class="footer-listing pull-right">
            <li>
                <a>Copyright &copy; Parcel Kiosk Limited</a>
            </li>
        </ul>
    </div>
</div>
@section Scripts {
    <script src="~/js/Chart.bundle.js"></script>
    <script>

        var ordersByCarrierData = @Html.Raw(ViewData["OrdersByCarrier"]);
        var shipmentsPriceByCarrierData = @Html.Raw(ViewData["ShipmentsPriceByCarrier"]);
        var shipmentsPriceByCountryData = @Html.Raw(ViewData["ShipmentsPriceByCountry"]);
        var shipmentsOverOneYearData = @Html.Raw(ViewData["ShipmentsOverOneYear"]);

        $(document).ready(function () {
            if (ordersByCarrierData && ordersByCarrierData.datasets[0] && ordersByCarrierData.datasets[0].data.length>0) {
                var chart3 = new Chart(document.getElementById("OrdersByCarrier").getContext("2d"), {
                    type: 'doughnut',
                    data: ordersByCarrierData,
                    dataFormat: 'json',
                    options: {
                        elements: {
                            rectangle: {
                                borderWidth: 1,
                            }
                        },
                        responsive: true,
                        legend: false,
                        title: {
                            display: false,
                            text: '@ParcelrateResources.Resources.Orders_Per_Carrier'
                        }
                    }
                });
            }
            else {
                $("#divOrdersByCarrier").css('min-height', '230px');
                $("#divOrdersByCarrier").html('<p class="text-center" style="padding-top:25%;">@ParcelrateResources.Resources.No_Data_Found</p>');
                $("#downloadOrdersByCarrier").css({ 'display': 'none' });
            }

            if (shipmentsPriceByCarrierData && shipmentsPriceByCarrierData.datasets[0] && shipmentsPriceByCarrierData.datasets[0].data.length > 0) {
                var chart3 = new Chart(document.getElementById("ShipmentsPriceByCarrier").getContext("2d"), {
                    type: 'doughnut',
                    data: shipmentsPriceByCarrierData,
                    dataFormat: 'json',
                    options: {
                        elements: {
                            rectangle: {
                                borderWidth: 1,
                            }
                        },
                        responsive: true,
                        legend: false,
                        title: {
                            display: false,
                            text: '@ParcelrateResources.Resources.Spend_By_Carrier'
                        }
                    }
                });
            }
            else {
                $("#divShipmentsPriceByCarrier").css('min-height', '230px');
                $("#divShipmentsPriceByCarrier").html('<p class="text-center" style="padding-top:25%;">@ParcelrateResources.Resources.No_Data_Found</p>');
                $("#downloadPriceByCarrier").css({ 'display': 'none' });
            }

            if (shipmentsPriceByCountryData && shipmentsPriceByCountryData.datasets[0] && shipmentsPriceByCountryData.datasets[0].data.length > 0) {
                var chart3 = new Chart(document.getElementById("ShipmentsPriceByCountry").getContext("2d"), {
                    type: 'doughnut',
                    data: shipmentsPriceByCountryData,
                    dataFormat: 'json',
                    options: {
                        elements: {
                            rectangle: {
                                borderWidth: 1,
                            }
                        },
                        responsive: true,
                        legend: false,
                        title: {
                            display: false,
                            text: '@ParcelrateResources.Resources.Spend_By_Country'
                        }
                    }
                });
            }
            else {
                $("#divShipmentsPriceByCountry").css('min-height', '230px');
                $("#divShipmentsPriceByCountry").html('<p class="text-center" style="padding-top:25%;">@ParcelrateResources.Resources.No_Data_Found</p>');
                $("#downloadPriceByCountry").css({ 'display': 'none' });
            }

            if (shipmentsOverOneYearData && shipmentsOverOneYearData.datasets[0] && shipmentsOverOneYearData.datasets[0].data.length > 0) {
                var chart = document.getElementById("ShipmentsOverOneYear");
                var chart3 = new Chart(chart.getContext("2d"), {
                    type: 'line',
                    data: shipmentsOverOneYearData,
                    dataFormat: 'json',
                    options: {
                        elements: {
                            rectangle: {
                                borderWidth: 1,
                            }
                        },
                        responsive: true,
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: false,
                            text: '@ParcelrateResources.Resources.Cargo_Sent_Over_365Days'
                        },
                        scales: {
                            yAxes: [{

                                display: true,
                                ticks: {
                                    callback: function (value, index, values) {
                                        return parseInt(value);
                                    },
                                    autoSkip: true,
                                    maxTicksLimit: 10,
                                    stepSize: 4
                                }
                            }]
                        }
                    }
                });
            }
            else {
                $("#divShipmentsOverOneYear").css('min-height', '230px');
                $("#divShipmentsOverOneYear").html('<p class="text-center" style="padding-top:10%;">@ParcelrateResources.Resources.No_Data_Found</p>');
                $("#downloadShipmentListOverYear").css({ 'display': 'none' });
            }
        });
    </script>
}