﻿@using ParcelrateUtilities;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <environment include="Development,Staging,Production">
        <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="~/css/bootstrapValidator.min.css" rel="stylesheet" type="text/css" />
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="~/css/bootstrap-datepicker.min.css" />
        <link href="~/css/style.css" rel="stylesheet" asp-append-version="true" />
    </environment>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112980558-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-112980558-1');

    </script>
</head>
<body>
    @if (ViewBag.CurrentPage != "Login" && ViewBag.CurrentPage != "SignUp")
    {
        <header>
            <div class="logo"><a href="javascript:void(0);"><img src="~/images/logo-inner.png" alt="Parcelrate" /></a></div>
            <nav class="pull-right">
                @*<figure>
                        <img class="img-circle" src="~/images/prof-pic.png" alt="prof-pic" />
                    </figure>*@
                <ul class="nav navbar-nav navbar-right">
                    <li id="fat-menu" class="dropdown">
                        <a href="#" class="dropdown-toggle" id="drop3" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">@User?.Identity?.Name<span class="caret"></span> </a>
                        <ul class="dropdown-menu" aria-labelledby="drop3">
                            <li><a id="aLogOut" href="~/Account/Logout"><img src="~/images/logout-icon.png" alt="logout-icon" />@ParcelrateResources.Resources.Sign_Out</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>
        <section class="sxn-wrapper">
            <div class="sxn-content">
                <aside class="left-sxn">
                    <ul>
                        <li class="@(ViewBag.CurrentPage == "Dashboard" ? "active" : "")"><a title="@ParcelrateResources.Resources.Dashboard" asp-controller="Home" asp-action="Index"><span>@ParcelrateResources.Resources.Dashboard</span></a></li>
                        <li class="@(ViewBag.CurrentPage == "Shipments" ? "active" : "")"><a title="@ParcelrateResources.Resources.Shipments" asp-controller="Shipment" asp-action="Index"><span>@ParcelrateResources.Resources.Shipments</span></a></li>
                        <li class="@(ViewBag.CurrentPage == "Addresses" ? "active" : "")"><a title="@ParcelrateResources.Resources.Addresses" asp-controller="Address" asp-action="Index"><span>@ParcelrateResources.Resources.Addresses</span></a></li>
                    </ul>
                    @if (Convert.ToBoolean(User.Claims.FirstOrDefault(x => x.Type == Constants.IsLetMeShip)?.Value))
                    {
                        <div class="company-info">
                            <p>ITA Shipping GmbH</p> <span>Hugh-Greene-Weg 4 22529 Hamburg @ParcelrateResources.Resources.Germany <a href="https://www.letmeship.com" target="_blank">www.letmeship.com</a> </span><a href="@ParcelrateResources.Resources.LMS_TermsAndConditions" target="_blank" title="@ParcelrateResources.Resources.Terms_Conditions">@ParcelrateResources.Resources.Terms_Conditions</a>
                            <hr>
                            <p>@ParcelrateResources.Resources.Customer_Service:</p> <a href="mailto:bookings@letmeship.com" title="bookings@letmeship.com">bookings@letmeship.com</a> Ph: +49 40 734 45 66 33
                            <div></div>
                        </div>
                        <div class="powered-by">@ParcelrateResources.Resources.Powered_By <img src="~/images/letme-ship.png" alt="LetMeShip" /></div>
                    }
                    else
                    {
                        <div class="company-info">
                            <p>Fürgefutár.hu Service Provider Private Limited Company</p> <span>Maros street 12 Budapest H-1122 Hungary <a href="https://furgefutar.hu/" target="_blank">https://furgefutar.hu/</a> </span><a href="https://allpacka.com/terms-conditions-tc/" target="_blank" title="@ParcelrateResources.Resources.Terms_Conditions">@ParcelrateResources.Resources.Terms_Conditions</a>
                            <div></div>
                        </div>
                        <div class="powered-by">@ParcelrateResources.Resources.Powered_By <img src="~/images/allpacka-icon.png" alt="AllPacka" /></div>
                    }
                </aside>
                <div class="detail-sxn">
                    @RenderBody()
                </div>
            </div>
        </section>
    }
    else
    {
        @RenderBody()
    }
    <div class="loading" id="divLoader" style="display:none">
        <div class="loader-image">
            <img src="~/images/loader-icon.png" alt="Loader" />
            <p class="loader-text" id="spanLoadingText">@ParcelrateResources.Resources.Loading_Text</p>
        </div>
    </div>
    <div class="confirmation-layout" id="divMessage">
        <div class="confirmation-inner-layout">
            <h3>@ParcelrateResources.Resources.Message</h3>
            <div class="close-btn"><a href="javascript:void(0);" title="@ParcelrateResources.Resources.Close" onclick="closeMessagePopup();"><img src="~/images/close.png" alt="@ParcelrateResources.Resources.Close"></a></div>
            <div>
                <p id="errorMessage" style="max-width: 340px;overflow-x: auto"></p>
            </div>
            <div class="pull-right">
                <button class="confirm-button active" type="button" onclick="closeMessagePopup();">@ParcelrateResources.Resources.Ok</button>
            </div>
        </div>
    </div>
    <div class="confirmation-layout" id="divDataLostMessage">
        <div class="confirmation-inner-layout">
            <h3>@ParcelrateResources.Resources.Message</h3>
            <div class="close-btn"><a href="javascript:void(0);" title="@ParcelrateResources.Resources.Close" onclick="closeDataLostMessagePopup();"><img src="~/images/close.png" alt="@ParcelrateResources.Resources.Close"></a></div>
            <div>
                <p>@ParcelrateResources.Resources.Data_Lost_Message</p>
            </div>
            <div class="pull-right">
                <button class="confirm-button active" type="button" id="btnDataLostSuccess" onclick="successAction();">@ParcelrateResources.Resources.Yes</button>
                <button class="confirm-button" type="button" onclick="cancelAction();">@ParcelrateResources.Resources.No</button>
            </div>
        </div>
    </div>

    <div class="confirmation-layout" id="divAddressMessage">
        <div class="confirmation-inner-layout">
            <h3>@ParcelrateResources.Resources.Message</h3>
            <div class="close-btn"><a href="javascript:void(0);" title="@ParcelrateResources.Resources.Close" onclick="CloseAddressMessagePopup();"><img src="~/images/close.png" alt="@ParcelrateResources.Resources.Close"></a></div>
            <div>
                <p id="errorMessageAddress"></p>
            </div>
            <div class="pull-right">
                <button class="confirm-button active" type="button" onclick="CloseAddressMessagePopup();">@ParcelrateResources.Resources.Ok</button>
            </div>
        </div>
    </div>

    <environment include="Development,Staging,Production">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="~/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
        <script src="~/js/custom.js" type="text/javascript" asp-append-version="true"></script>
        <script src="~/js/jquery.tmpl.min.js" type="text/javascript"></script>
    </environment>

    <script type="text/javascript">
        $(document).ready(function () {
            if('@ViewData["Title"]' != '@ParcelrateResources.Resources.New_Shipment')
            refreshNewShipment();
        });

    </script>

    @RenderSection("Scripts", required: false)

</body>
</html>
